{%extends 'base.html'%}

{%block includes%}
{% include './admin/includes/head.html' %}

{% include './admin/includes/navbar.html' %}
{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../static/index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

      <!-- User Image -->
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>

      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">

        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>

        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Module Name -->
        <li class="nav-header font-weight-bold text-wrap">SYSTEM ADMINISTRATION</li>

        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/admin/sysadmin" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-header">USER MANAGEMENT</li>
        <li class="nav-item">
          <a href="/admin/user_type" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>User Types</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/job_titles" class="nav-link">
            <i class="nav-icon fas fa-user-md"></i>
            <p>Job Titles</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/departments" class="nav-link">
            <i class="nav-icon fas fa-hospital"></i>
            <p>Departments</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/employees" class="nav-link active">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Employees
              <!-- <span class="right badge badge-primary">99+</span> -->
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
    <button class="btn btn-sm btn-danger hide-on-collapse pos-right" data-toggle="modal" data-target="#logoutModal">
      <span>Log out</span>
      <i class="fas fa-sign-out-alt ml-1"></i>
    </button>
  </div>
</aside>
{%endblock%}

<!-- Content Wrapper. Contains page content -->
{%block maincontent%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Employees</h1>
          <div class="text-muted">Employees to manage potential employees</div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-primary card-outline">

      <!-- Card Header -->
      <div class="card-header">
        <div class="card-title">List of Employees</div>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
            <i class="fas fa-expand"></i>
          </button>
          <button data-toggle="modal" data-target="#modal-default" class="btn btn-primary bg-solid-primary btn-sm"
            id="new_task"><i class="fa fa-plus"></i> Add New Employee</button>
        </div>
      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">
        <table id="employee_table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Department</th>
              <th>Name</th>
              <th>Job Title</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Default Modal -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-xl modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fa fa-plus mr-2"></i>New Employee</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_employee_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Email </label>
                <select class="form-control select2bs4" style="width: 100%;" id="user_id" name="user_id">
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Department </label>
                <select class="form-control select2bs4" style="width: 100%;" id="department_id" name="department_id">
                </select>
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Job Title <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="job_id" name="job_id">
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">First Name <span style="color:red"
                    aria-hidden="true" class="required">*</span></label>
                <input placeholder="Enter First Name" type="text" class="form-control" name="first_name"
                  id="first_name">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Middle Name </label>
                <input placeholder="Enter Middle Name" type="text" class="form-control" name="middle_name"
                  id="middle_name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Last Name <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Last Name" type="text" class="form-control" name="last_name" id="last_name">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Suffix Name </label>
                <input placeholder="Enter Suffix Name" type="text" class="form-control" name="suffix_name"
                  id="suffix_name">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Employee <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="view_employee_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-file-alt mr-2"></i> Employee Details</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="view_employee_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label class="location" for="exampleInputPassword1">Department: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_department" id="view_department" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Employee Name: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_employee_name" id="view_employee_name" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Email: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_user_id" id="view_user_id" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Job Title: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_job_id" id="view_job_id" aria-describedby="emailHelp"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="edit_employee_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-xl modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-edit mr-2"></i>Edit Employee</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit_employee_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Email </label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_user_id" name="edit_user_id">
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Department </label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_department_id"
                  name="edit_department_id">
                </select>
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Job Title <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_job_id" name="edit_job_id">
                </select>
              </div>
            </div>
            <div class="form-row">
              <input type="hidden" class="form-control" name="edit_id" id="edit_id">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">First Name <span style="color:red"
                    aria-hidden="true" class="required">*</span></label>
                <input placeholder="Enter First Name" type="text" class="form-control" name="edit_first_name"
                  id="edit_first_name">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Middle Name </label>
                <input placeholder="Enter Middle Name" type="text" class="form-control" name="edit_middle_name"
                  id="edit_middle_name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Last Name <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Last Name" type="text" class="form-control" name="edit_last_name"
                  id="edit_last_name">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Suffix Name </label>
                <input placeholder="Enter Suffix Name" type="text" class="form-control" name="edit_suffix_name"
                  id="edit_suffix_name">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Update <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="delete_employee_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-exclamation-triangle text-secondary"></i> Confirmation
        </h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete_employee_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="delete_id" id="delete_id" aria-describedby="emailHelp">
            <h7>Are you sure you want to delete this employee?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-confirm">Yes, delete it! <i
                class="fas fa-times-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/admin_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/admin_restriction.js')}}"></script>

<script>
  $('.select2bs4').select2()

  $(function () {
    function loadtable() {
      employeeDataTable = $('#employee_table').DataTable({
        ajax: {
          url: "/employee/",
          dataSrc: ""
        },
        "columns": [{
            data: "id"
          },
          {
            data: "departments.name"
          },
          {
            data: null,
            render: function (data, type, row, meta) {
              return row.first_name + " " + row.last_name + " " + row.suffix_name;
            }
          },
          {
            data: "job.title"
          },
          {
            data: "created_at"
          },
          {
            data: "active_status",
            render: function (data, type, row) {
              if (data == "Active") {
                return '<div class="text-center dropdown">' +
                  '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                  '<i class="fas fa-ellipsis-v"></i>' +
                  '</div>' +
                  '<div class="dropdown-menu dropdown-menu-right">' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-list mr-1"></i>' +
                  '</div>' +
                  '<div>View Employee</div>' +
                  '</button>' +
                  '<div class="dropdown-divider"></div>' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-edit mr-1"></i>' +
                  '</div>' +
                  '<div>Edit Employee</div>' +
                  '</button>' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-delete">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-trash-alt mr-1"></i>' +
                  '</div>' +
                  '<div>Delete Employee</div>' +
                  '</button>'
              }
            }
          },
        ],
        "aoColumnDefs": [{
          "bVisible": false,
          "aTargets": [0, 4]
        }],
        "order": [
          [4, "desc"]
        ]
      })
    }

    function get_all_department() {
      $.ajax({
        url: '/departments/',
        type: "GET",
        dataType: "JSON",

        success: function (data) {
          var department = data.data;

          var html = "";

          if (department.length == 0) {
            var html = `<option>No Department</option>`;
          } else {
            var html = "<option selected disabled>Select Department</option>";
          }

          for (var i = 0; i < department.length; i++) {
            html += `<option value="${department[i].id}">${department[i].name}</option>`
          }

          $('#department_id').html(html);
          $('#edit_department_id').html(html);

        }
      })
    }

    function get_all_users() {
      $.ajax({
        url: '/users/',
        type: "GET",
        dataType: "JSON",

        success: function (data) {
          var user = data;

          var html = "";

          if (user.length == 0) {
            var html = `<option>No User</option>`;
          } else {
            var html = "<option selected disabled>Select User</option>";
          }

          for (var i = 0; i < user.length; i++) {
            html +=
              `<option value="${user[i].id}">${user[i].email}</option>`
          }

          $('#user_id').html(html);
          $('#edit_user_id').html(html);

        }
      })
    }

    function get_all_jobs() {
      $.ajax({
        url: '/jobs/',
        type: "GET",
        dataType: "JSON",

        success: function (data) {
          var job = data;

          var html = "";

          if (job.length == 0) {
            var html = `<option>No Job</option>`;
          } else {
            var html = "<option selected disabled>Select Job</option>";
          }

          for (var i = 0; i < job.length; i++) {
            html += `<option value="${job[i].id}">${job[i].title}</option>`
          }

          $('#job_id').html(html);
          $('#edit_job_id').html(html);

        }
      })
    }

    function get_all_types() {
      $.ajax({
        url: '/user_types/',
        type: "GET",
        dataType: "JSON",

        success: function (data) {
          var type = data;

          var html = "";

          if (type.length == 0) {
            var html = `<option>No Type</option>`;
          } else {
            var html = "<option selected disabled>Select Type</option>";
          }

          for (var i = 0; i < type.length; i++) {
            html += `<option value="${type[i].id}">${type[i].title}</option>`
          }

          $('#user_type_id').html(html);
          $('#edit_user_type_id').html(html);

        }
      })
    }

    get_all_department();
    get_all_users();
    get_all_jobs();
    get_all_types();
    loadtable();

    $('#add_employee_form').validate({
      rules: {
        first_name: {
          required: true,
        },
        last_name: {
          required: true,
        },
        department_id: {
          required: true,
        },
        user_id: {
          required: true,
        },
        job_id: {
          required: true,
        },
      },
      messages: {
        first_name: {
          required: "Please enter first name",
        },
        last_name: {
          required: "Please enter last name",
        },
        department_id: {
          required: "Please select department",
        },
        user_id: {
          required: "Please select user",
        },
        job_id: {
          required: "Please select job title",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // ADD EMPLOYEE
        var form = $('#add_employee_form');

        // ajax opening tag
        $.ajax({
          url: '/employee/',
          type: "POST",
          data: form.serialize(),
          dataType: "JSON",

          success: function (data) {
            $("#add_employee_form").trigger("reset");
            $("#modal-default").modal('hide');
            toastr.success('Successfully added new employee.')
            refresh();
            // End of Confirmation
          }
          // ajax closing tag
        })
      }
    });

    $('#edit_employee_form').validate({
      rules: {
        edit_first_name: {
          required: true,
        },
        edit_last_name: {
          required: true,
        },
        edit_department_id: {
          required: true,
        },
        edit_user_id: {
          required: true,
        },
        edit_job_id: {
          required: true,
        },
      },
      messages: {
        edit_first_name: {
          required: "Please enter first name",
        },
        edit_last_name: {
          required: "Please enter last name",
        },
        edit_department_id: {
          required: "Please select department",
        },
        edit_user_id: {
          required: "Please select user",
        },
        edit_job_id: {
          required: "Please select job title",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // EDIT EMPLOYEE
        var id = document.getElementById("edit_id").value
        var first_name = document.getElementById("edit_first_name").value
        var last_name = document.getElementById("edit_last_name").value
        var middle_name = document.getElementById("edit_middle_name").value
        var suffix_name = document.getElementById("edit_suffix_name").value
        var department_id = document.getElementById("edit_department_id").value
        var user_id = document.getElementById("edit_user_id").value
        var job_id = document.getElementById("edit_job_id").value

        $.ajax({
          url: '/employee/' + id,
          type: "PUT",
          data: {
            first_name: first_name,
            last_name: last_name,
            middle_name: middle_name,
            suffix_name: suffix_name,
            department_id: department_id,
            user_id: user_id,
            job_id: job_id,
          },
          dataType: "JSON",

          success: function (data) {
            $("#edit_employee_form_modal").modal('hide');
            toastr.info('Successfully updated employee.')
            refresh();
          }
        })
      }
    });
  });

  function refresh() {
    var url = "/employee/";
    employeeDataTable.ajax.url(url).load();
  }

  // VIEW EMPLOYEE
  $(document).on("click", ".btn-view", function () {
    var id = this.value;
    $("#view_employee_form_modal").modal('show');

    $.ajax({
      url: '/employee/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var user = data;

        $('#view_id').html(user.id);
        $('#view_first_name').html(user.first_name);
        $('#view_last_name').html(user.last_name);
        $('#view_middle_name').html(user.middle_name);
        $('#view_suffix_name').html(user.suffix_name);
        $('#view_department').html(user.departments.name);
        $('#view_employee_name').html(user.first_name + " " + user.last_name + " " + user
          .suffix_name);
        $('#view_job_id').html(user.job.title);
        $('#view_user_id').html(user.user_employee.email);
      }
    })
  });

  // EDIT USER
  $(document).on("click", ".btn-edit", function () {
    var id = this.value;
    $("#edit_employee_form_modal").modal('show');

    $.ajax({
      url: '/employee/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var user = data;

        $('#edit_id').val(user.id);
        $('#edit_first_name').val(user.first_name);
        $('#edit_last_name').val(user.last_name);
        $('#edit_middle_name').val(user.middle_name);
        $('#edit_suffix_name').val(user.suffix_name);
        $('#edit_department_id').val(user.department_id);
        $('#edit_job_id').val(user.job_id);
        $('#edit_user_id').val(user.user_id);
      }
    })
  });

  // DELETE DEPARTMENT
  $(document).on("click", ".btn-delete", function () {
    var id = this.value;
    $('#delete_employee_form_modal').modal('show');

    $.ajax({
      url: '/employee/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var user = data;
        $('#delete_id').val(id);
      }
    })
  });

  $('.delete-confirm').on('click', function (e) {
    e.preventDefault();
    $('#delete_employee_form_modal').modal('show');
    var id = document.getElementById("delete_id").value
    var form = $('#delete_employee_form');

    // ajax opening tag
    $.ajax({
      url: '/employee/' + id,
      type: "DELETE",
      data: form.serialize(),
      dataType: "JSON",

      success: function (data) {
        refresh();
        toastr.info('Successfully deleted employee.')
        $('#delete_employee_form_modal').modal('hide');
      }
      // ajax closing tag
    })
  });
</script>
{%endblock%}