{%extends 'base.html'%}

{%block includes%}
{% include './admin/includes/head.html' %}

{% include './admin/includes/navbar.html' %}
{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../static/index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

      <!-- User Image -->
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>

      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">

        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>

        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Module Name -->
        <li class="nav-header font-weight-bold text-wrap">SYSTEM ADMINISTRATION</li>

        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/admin/sysadmin" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-header">USER MANAGEMENT</li>
        <li class="nav-item">
          <a href="/admin/user_type" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>User Types</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/job_titles" class="nav-link active">
            <i class="nav-icon fas fa-user-md"></i>
            <p>Job Titles</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/departments" class="nav-link">
            <i class="nav-icon fas fa-hospital"></i>
            <p>Departments</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/employees" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Employees
              <!-- <span class="right badge badge-primary">99+</span> -->
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
    <button class="btn btn-sm btn-danger hide-on-collapse pos-right" data-toggle="modal" data-target="#logoutModal">
      <span>Log out</span>
      <i class="fas fa-sign-out-alt ml-1"></i>
    </button>
  </div>
</aside>
{%endblock%}

<!-- Content Wrapper. Contains page content -->
{%block maincontent%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Job Titles</h1>
          <div class="text-muted">Job Title to manage potential jobs</div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-primary card-outline">

      <!-- Card Header -->
      <div class="card-header">
        <div class="card-title">List of Jobs</div>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
            <i class="fas fa-expand"></i>
          </button>
          <button data-toggle="modal" data-target="#modal-default" class="btn btn-primary bg-solid-primary btn-sm"
            id="new_task"><i class="fa fa-plus"></i> Add New Job Title</button>
        </div>
      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">
        <table id="job_table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Job Title</th>
              <th>Description</th>
              <th>Created At</th>
              <th width="20%">Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Default Modal -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fa fa-plus mr-2"></i> New Job Title</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_job_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Job Title <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Job Title" type="text" class="form-control" name="title" id="title">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Description" rows="10" cols="50" class="form-control" name="description"
                  id="description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Job Title <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="view_job_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-file-alt mr-2"></i> Job Title Details</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="view_job_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Job Title: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_title" id="view_title" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Description: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_description" id="view_description" aria-describedby="emailHelp"></span>
              </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="edit_job_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-edit mr-2"></i>Edit Job Title</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit_job_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-12">
                <input type="hidden" class="form-control" name="edit_id" id="edit_id">
                <label for="exampleInputEmail1">Job Title <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Job Title" type="text" class="form-control" name="edit_title" id="edit_title">
              </div>
              <div class="form-row">
                <div class="form-group col-sm-12">
                  <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                      class="required">*</span></label>
                  <textarea placeholder="Enter Description" rows="10" cols="100" class="form-control"
                    name="edit_description" id="edit_description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Update <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="delete_job_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-exclamation-triangle text-secondary"></i> Confirmation</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete_job_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="delete_id" id="delete_id" aria-describedby="emailHelp">
            <h7>Are you sure you want to delete this job title?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-confirm">Yes, delete it! <i class="fas fa-times-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/admin_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/admin_restriction.js')}}"></script>

<script>
  $(function () {
    function loadtable() {
      jobDataTable = $('#job_table').DataTable({
        ajax: {
          url: "/jobs/",
          dataSrc: ""
        },
        "columns": [{
            data: "id"
          },
          {
            data: "title"
          },
          {
            data: null,
            render: function(data){
              if(data.description){
                return (data.description.length > 50)?data.description.substring(0, 50)+'...':data.description;
              } else {
                return '';
              }
            },
          },
          {
            data: null,
            render: function (data, type, row, meta) {
              return moment(row.created_at).format('LL');
            }
          },
          {
            data: "active_status",
            render: function (data, type, row) {
              if (data == "Active") {
                return '<div class="text-center dropdown">' +
                  '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                  '<i class="fas fa-ellipsis-v"></i>' +
                  '</div>' +
                  '<div class="dropdown-menu dropdown-menu-right">' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-list mr-1"></i>' +
                  '</div>' +
                  '<div>View Job Title</div>' +
                  '</button>' +
                  '<div class="dropdown-divider"></div>' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-edit mr-1"></i>' +
                  '</div>' +
                  '<div>Edit Job Title</div>' +
                  '</button>' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-delete">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-trash-alt mr-1"></i>' +
                  '</div>' +
                  '<div>Delete Job Title</div>' +
                  '</button>'
              }
            }
          },
        ],
        "aoColumnDefs": [{
          "bVisible": false,
          "aTargets": [0]
        }],
        "order": [
          [3, "desc"]
        ]
      })
    }

    loadtable();

    $('#add_job_form').validate({
      rules: {
        title: {
          required: true,
        },
        description: {
          required: true,
        },
      },
      messages: {
        title: {
          required: "Please enter job title",
        },
        description: {
          required: "Please enter description",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // ADD JOB TITLE
        var form = $('#add_job_form');

        // ajax opening tag
        $.ajax({
          url: '/jobs/',
          type: "POST",
          data: form.serialize(),
          dataType: "JSON",

          success: function (data) {
            $("#add_job_form").trigger("reset");
            $("#modal-default").modal('hide');
            toastr.success('Successfully added new job title.')
            refresh();
            // End of Confirmation
          }
          // ajax closing tag
        })
      }
    });

    $('#edit_job_form').validate({
      rules: {
        edit_title: {
          required: true,
        },
        edit_description: {
          required: true,
        },
      },
      messages: {
        edit_title: {
          required: "Please enter job title",
        },
        edit_description: {
          required: "Please enter description",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // EDIT JOB TITLE
        var id = document.getElementById("edit_id").value
        var title = document.getElementById("edit_title").value
        var description = document.getElementById("edit_description").value

        $.ajax({
          url: '/jobs/' + id,
          type: "PUT",
          data: {
            title: title,
            description: description
          },
          dataType: "JSON",

          success: function (data) {
            $("#edit_job_form_modal").modal('hide');
            toastr.info('Successfully updated job title.')
            refresh();
          }
        })
      }
    });
  });

  function refresh() {
    var url = "/jobs/";
    jobDataTable.ajax.url(url).load();
  }

  // VIEW JOB TITLE
  $(document).on("click", ".btn-view", function () {
    var id = this.value;
    $("#view_job_form_modal").modal('show');

    $.ajax({
      url: '/jobs/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var job = data;

        $('#view_id').html(job.id);
        $('#view_title').html(job.title);
        $('#view_description').html(job.description);
      }
    })
  });

  // EDIT JOB TITLE
  $(document).on("click", ".btn-edit", function () {
    var id = this.value;
    $("#edit_job_form_modal").modal('show');

    $.ajax({
      url: '/jobs/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var job = data;
        console.log()

        $('#edit_id').val(id);
        $('#edit_title').val(job.title);
        $('#edit_description').val(job.description);
      }
    })
  });

  // DELETE JOB TITLE
  $(document).on("click", ".btn-delete", function () {
    var id = this.value;
    $('#delete_job_form_modal').modal('show');

    $.ajax({
      url: '/jobs/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var job = data;
        $('#delete_id').val(id);
      }
    })
  });

  $('.delete-confirm').on('click', function (e) {
    e.preventDefault();
    $('#delete_job_form_modal').modal('show');
    var id = document.getElementById("delete_id").value
    var form = $('#delete_job_form');

    // ajax opening tag
    $.ajax({
      url: '/jobs/' + id,
      type: "DELETE",
      data: form.serialize(),
      dataType: "JSON",

      success: function (data) {
        refresh();
        toastr.info('Successfully deleted job.')
        $('#delete_job_form_modal').modal('hide');
      }
      // ajax closing tag
    })
  });
</script>
{%endblock%}