{%extends 'base.html'%}

{%block includes%}
{% include './admin/includes/head.html' %}

{% include './admin/includes/navbar.html' %}
{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../static/index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

      <!-- User Image -->
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>

      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">

        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>

        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Module Name -->
        <li class="nav-header font-weight-bold text-wrap">SYSTEM ADMINISTRATION</li>

        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/admin/sysadmin" class="nav-link active">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-header">USER MANAGEMENT</li>
        <li class="nav-item">
          <a href="/admin/user_type" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>User Types</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/employees" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Employees
              <!-- <span class="right badge badge-primary">99+</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/departments" class="nav-link">
            <i class="nav-icon fas fa-hospital"></i>
            <p>Departments</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
    <button class="btn btn-sm btn-danger hide-on-collapse pos-right" data-toggle="modal" data-target="#logoutModal">
      <span>Log out</span>
      <i class="fas fa-sign-out-alt ml-1"></i>
    </button>
  </div>
</aside>
{%endblock%}

{%block maincontent%}
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <h1>Dashboard</h1>
            <p class="text-muted">Admin Dashboard Page</p>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Under Maintenance -->
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="py-5 d-flex justify-content-center">
                    <img draggable="false" src="../../../static/dist/img/under_construction.svg" alt="Under Maintenance"
                        width="50%">
                </div>
                <h4>Oops! This page is under maintenance.</h4>
                <p class="text-secondary">You can go back in others days. Sorry for the incovenience.</p>
            </div>

        </div>
    </section>
</div>
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/admin_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/admin_restriction.js')}}"></script>
{%endblock%}