{%extends 'base.html'%}

{%block includes%}
{% include './admin/includes/head.html' %}

{% include './admin/includes/navbar.html' %}
{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../static/index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

      <!-- User Image -->
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>

      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">

        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>

        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Module Name -->
        <li class="nav-header font-weight-bold text-wrap">SYSTEM ADMINISTRATION</li>

        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/admin/sysadmin" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-header">USER MANAGEMENT</li>
        <li class="nav-item">
          <a href="/admin/user_type" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>User Types</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link active">
            <i class="nav-icon fas fa-users"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/job_titles" class="nav-link">
            <i class="nav-icon fas fa-user-md"></i>
            <p>Job Titles</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/departments" class="nav-link">
            <i class="nav-icon fas fa-hospital"></i>
            <p>Departments</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/employees" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Employees
              <!-- <span class="right badge badge-primary">99+</span> -->
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
    <button class="btn btn-sm btn-danger hide-on-collapse pos-right" data-toggle="modal" data-target="#logoutModal">
      <span>Log out</span>
      <i class="fas fa-sign-out-alt ml-1"></i>
    </button>
  </div>
</aside>
{%endblock%}

<!-- Content Wrapper. Contains page content -->
{%block maincontent%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Users</h1>
          <div class="text-muted">Users to manage users accounts</div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-primary card-outline">

      <!-- Card Header -->
      <div class="card-header">
        <div class="card-title">List of Users</div>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
            <i class="fas fa-expand"></i>
          </button>
          <button data-toggle="modal" data-target="#modal-default" class="btn btn-primary bg-solid-primary btn-sm"
            id="new_task"><i class="fa fa-plus"></i> Create New User</button>
        </div>
      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">
        <table id="users_table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Type</th>
              <th>Created At</th>
              <th width="20%">Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Default Modal -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fa fa-plus mr-2"></i>New User</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_user_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Email <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Email" type="email" class="form-control" name="email" id="email">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Password <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Password" type="password" class="form-control" name="password" id="password">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Type <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select placeholder="Select Type" class="form-control select2bs4" style="width: 100%;" id="user_type_id"
                  name="user_type_id">
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add New User <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="view_user_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-file-alt mr-2"></i> User Details</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="view_user_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label class="location" for="exampleInputPassword1">Email: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_email" id="view_email" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Type: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_type" id="view_type" aria-describedby="emailHelp"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="edit_user_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-edit mr-2"></i>Edit User</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit_user_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-12">
                <input type="hidden" class="form-control" name="edit_id" id="edit_id" aria-describedby="emailHelp">
                <label class="location" for="exampleInputPassword1">Email <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Email" type="email" class="form-control" name="edit_email" id="edit_email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Type <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_type" name="edit_type">
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Update <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="delete_user_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-times-circle"></i> Confirmation</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete_user_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="delete_id" id="delete_id" aria-describedby="emailHelp">
            <h7>Are you sure you want to delete this user?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-confirm">Yes, delete it! <i
                class="fas fa-times-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/admin_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/admin_restriction.js')}}"></script>

<script>
  $('.select2bs4').select2()

  $(function () {
    function loadtable() {
      usersDataTable = $('#users_table').DataTable({
        ajax: {
          url: "/users/",
          dataSrc: ""
        },
        "columns": [{
            data: "id"
          },
          {
            data: "email"
          },
          {
            data: "user_type.title"
          },
          {
            data: null,
            render: function (data, type, row, meta) {
              return moment(row.created_at).format('LL');
            }
          },
          {
            data: "active_status",
            render: function (data, type, row) {
              if (data == "Active") {
                return '<div class="text-center dropdown">' +
                  '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                  '<i class="fas fa-ellipsis-v"></i>' +
                  '</div>' +
                  '<div class="dropdown-menu dropdown-menu-right">' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-list mr-1"></i>' +
                  '</div>' +
                  '<div>View User</div>' +
                  '</button>' +
                  '<div class="dropdown-divider"></div>' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-edit mr-1"></i>' +
                  '</div>' +
                  '<div>Edit User</div>' +
                  '</button>' +
                  '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-delete">' +
                  '<div style="width: 2rem">' +
                  '<i class="fas fa-trash-alt mr-1"></i>' +
                  '</div>' +
                  '<div>Delete User</div>' +
                  '</button>'
              }
            }
          },
        ],
        "aoColumnDefs": [{
          "bVisible": false,
          "aTargets": [0]
        }],
        "order": [
          [3, "desc"]
        ]
      })
    }

    function get_all_types() {
      $.ajax({
        url: '/user_types/',
        type: "GET",
        dataType: "JSON",

        success: function (data) {
          var user_type = data;
          console.log(user_type)

          var html = "";

          if (user_type.length == 0) {
            var html = `<option>No Type</option>`;
          } else {
            var html = "<option selected disabled>Select Type</option>";
          }

          for (var i = 0; i < user_type.length; i++) {
            html += `<option value="${user_type[i].id}">${user_type[i].title}</option>`
          }

          $('#user_type_id').html(html);
          $('#edit_type').html(html);

        }
      })
    }

    get_all_types();
    loadtable();

    $('#add_user_form').validate({
      rules: {
        email: {
          required: true,
          email: true,
        },
        password: {
          required: true,
          minlength: 8
        },
        user_type_id: {
          required: true,
        },
      },
      messages: {
        email: {
          required: "Please enter a email address",
          email: "Please enter a vaild email address",
        },
        password: {
          required: "Please provide a password",
          minlength: "Your password must be at least 8 characters long"
        },
        user_type_id: {
          required: "Please select user type",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // ADD JOB TITLE
        var form = $('#add_user_form');

        // ajax opening tag
        $.ajax({
          url: '/users/',
          type: "POST",
          data: form.serialize(),
          dataType: "JSON",

          success: function (data) {
            $("#add_user_form").trigger("reset");
            $("#modal-default").modal('hide');
            toastr.success('Successfully added new user.')
            refresh();
            // End of Confirmation
          }
          // ajax closing tag
        })
      }
    });

    $('#edit_user_form').validate({
      rules: {
        edit_email: {
          required: true,
          email: true,
        },
        edit_type: {
          required: true,
        },
      },
      messages: {
        edit_email: {
          required: "Please enter a email address",
          email: "Please enter a vaild email address",
        },
        edit_password: {
          required: "Please provide a password",
          minlength: "Your password must be at least 8 characters long"
        },
        edit_type: {
          required: "Please select type",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // EDIT
        var id = document.getElementById("edit_id").value
        var email = document.getElementById("edit_email").value
        var user_type_id = document.getElementById("edit_type").value
        var form = $('#edit_department_form');

        $.ajax({
          url: '/users/' + id,
          type: "PUT",
          data: {
            email: email,
            user_type_id: user_type_id
          },
          dataType: "JSON",

          success: function (data) {
            $("#edit_user_form_modal").modal('hide');
            toastr.info('Successfully updated user.')
            refresh();
          }
        })
      }
    });
  });

  function refresh() {
    var url = "/users/";
    usersDataTable.ajax.url(url).load();
  }

  // VIEW USER
  $(document).on("click", ".btn-view", function () {
    var id = this.value;
    $("#view_user_form_modal").modal('show');

    $.ajax({
      url: '/users/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var user = data;

        $('#view_id').html(user.id);
        $('#view_email').html(user.email);
        $('#view_type').html(user.user_type.title);
      }
    })
  });

  // EDIT USER
  $(document).on("click", ".btn-edit", function () {
    var id = this.value;
    $("#edit_user_form_modal").modal('show');

    $.ajax({
      url: '/users/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var user = data;

        $('#edit_id').val(id);
        $('#edit_email').val(user.email);
        $('#edit_type').val(user.user_type_id);
      }
    })
  });

  // DELETE DEPARTMENT
  $(document).on("click", ".btn-delete", function () {
    var id = this.value;
    $('#delete_user_form_modal').modal('show');

    $.ajax({
      url: '/users/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var user = data;
        $('#delete_id').val(id);
      }
    })
  });

  $('.delete-confirm').on('click', function (e) {
    e.preventDefault();
    $('#delete_department_form_modal').modal('show');
    var id = document.getElementById("delete_id").value
    var form = $('#delete_department_form');

    // ajax opening tag
    $.ajax({
      url: '/users/' + id,
      type: "DELETE",
      data: form.serialize(),
      dataType: "JSON",

      success: function (data) {
        refresh();
        toastr.info('Successfully deleted user.')
        $('#delete_user_form_modal').modal('hide');
      }
      // ajax closing tag
    })
  });
</script>
{%endblock%}