{%extends 'base.html'%}

{%block includes%}
{% include './admin/includes/head.html' %}

{% include './admin/includes/navbar.html' %}
{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>
      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">
                      
        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>
        
        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header font-weight-bold text-wrap">PROJECT MANAGEMENT SYSTEM</li>
        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/admin/dashboard" {%if request.path == '/admin/dashboard'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-header">REQUESTS</li>
        <li class="nav-item">
          <a href="/admin/concept_paper_requisition" {%if request.path == '/admin/concept_paper_requisition'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-file-alt"></i>
            <p>Concept Papers</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/project_requisition" class="nav-link active"{%if request.path == '/admin/project_requisition'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-copy"></i>
            <p>Proposals</p>
          </a>
        </li>
        <li class="nav-header">PROJECTS</li>
        <li class="nav-item">
          <a href="/admin/project_lists" {%if request.path == '/admin/project_lists'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-hammer"></i>
            <p>Projects</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/calendar" {%if request.path == '/admin/calendar'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-calendar"></i>
            <p>Schedule</p>
          </a>
        </li>
        <li class="nav-header">TASKS</li>
        <li class="nav-item">
          <a href="/admin/task_lists" {%if request.path == '/admin/task_lists'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tasks"></i>
            <p>General Tasks</p>
          </a>
        </li>
        <li class="nav-header">REPORTS</li>
        <li class="nav-item">
          <a href="/admin/reports" {%if request.path == '/admin/reports'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-file-signature"></i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-header">TERMS OF REFERENCE</li>
          <li class="nav-item">
            <a href="/admin/terms_of_reference" {%if request.path == '/admin/terms_of_reference'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-copy"></i>
              <p>Terms of Reference</p>
            </a>
          </li>
        <li class="nav-header">ARCHIVE</li>
        <li class="nav-item">
          <a href="/admin/archive" {%if request.path == '/admin/archive'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-trash"></i>
            <p>Archive</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
  <!-- /.sidebar -->

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <form>
      <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
      <button type="button" class="btn btn-sm btn-danger hide-on-collapse pos-right btn-logouts">Log out <i
          class="fas fa-sign-out-alt ml-1"></i></button>
    </form>
  </div>
  <!-- /.sidebar-custom -->

</aside>
<!-- /.main-sidebar -->
{%endblock%}


<!-- Content Wrapper. Contains page content -->
{%block maincontent%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Project Details</h1>
          <div class="text-muted">Project to view additional details</div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-8">
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            <h3 class="card-title">Project Details</h3>
            <div class="card-tools">
              {%if data.approval_status == "Pending"%}
              <div class="badge badge-info p-2 w-100"><i class="fas fa-redo"></i> Pending</div>
              {%elif data.approval_status == "Approved"%}
              <div class="badge badge-success p-2 w-100"><i class="fas fa-check"></i> Approved</div>
              {%elif data.approval_status == "Rejected"%}
              <div class="badge badge-danger p-2 w-100"><i class="fas fa-times"></i> Rejected</div>
              {%elif data.approval_status == "Refused"%}
              <div class="badge badge-danger p-2 w-100"><i class="fas fa-times"></i> Refused</div>
              {%else%}
              <div class="badge badge-danger p-2 w-100"><i class="fas fa-times"></i> Cancelled</div>
              {%endif%}
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Name</label>
                      <span>{{ data.name }}</span>
                      <small class="text-muted"> {{ data.type }} </small>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Manager</label>
                      <span>{{ data.project_user.first_name }} {{ data.project_user.last_name}}
                        {{ data.project_user.suffix_name}}</span>
                      <small class="text-muted"> {{ data.project_department.name }} </small>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Cost</label>
                      <span>{{ "₱{:,.2f}".format(data.cost) }}</span>
                      <small class="text-muted">{{ data.start_date.strftime('%b %d, %Y') }} -
                        {{ data.end_date.strftime('%b %d, %Y') }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription">I. Project Duration</label><br>
              <p id="duration" class="ml-3"></p>
            </div>
            <div class="form-group">
              <label for="inputDescription">II. Project Background</label><br>
              <p class="ml-3">{{ data.background }}</p>
            </div>
            <div class="form-group">
              <label for="inputDescription">III. Project Coverage</label><br>
              <p class="ml-3">{{ data.coverage }}</p>
            </div>
            <div class="form-group">
              <label for="inputDescription">IV. Objectives</label><br>
              <p class="ml-3">{{ data.objectives }}</p>
            </div>
            <div class="form-group">
              <label for="inputDescription">V. Project Assumptions</label><br>
              <p class="ml-3">{{ data.assumptions }}</p>
            </div>
            <div class="form-group">
              <label for="inputDescription">VI. Project Constraints</label><br>
              <p class="ml-3">{{ data.constraints }}</p>
            </div>
            <div class="form-group">
              <label for="inputDescription">VII. Budgetary Requirements</label><br>
              <table id="on_hold_table" class="table table-bordered" width="100%">
                <thead>
                  <tr>
                    <th>Activities / Resources</th>
                    <th>Cost</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {%for budget in data.project_budget%}
                  {%if budget.active_status == "Active"%}
                  <tr>
                    <td>{{ budget.name }}</td>
                    <td>{{ "₱{:,.2f}".format(budget.cost) }}</td>
                    <td>{{ budget.description }}</td>
                  </tr>
                  {%endif%}
                  {%endfor%}
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <label for="inputDescription">VIII. Target Beneficiaries</label><br>
              <p class="ml-3">{{ data.target_beneficiaries }}</p>
            </div>
            <div class="form-group">
              <label for="inputDescription">IX. Stakeholders</label><br>
              <table id="on_hold_table" class="table table-bordered" width="100%">
                <thead>
                  <tr>
                    <th>Stakeholder</th>
                    <th>Role</th>
                    <th>Project Expectancy</th>
                  </tr>
                </thead>
                <tbody>
                  {%for stakeholder in data.project_stakeholder%}
                  {%if stakeholder.active_status == "Active"%}
                  <tr>
                    <td>{{ stakeholder.name }}</td>
                    <td>{{ stakeholder.role }}</td>
                    <td>{{ stakeholder.expectation }}</td>
                  </tr>
                  {%endif%}
                  {%endfor%}
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <label for="inputDescription">X. Deliverables</label><br>
              <p class="ml-3">{{ data.expected_output }}</p>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-center">
          </div>
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-4">
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            {%if data.approval_status == "Rejected"%}
            <h3 class="card-title">Reason of Rejection</h3>
            {%else%}
            <h3 class="card-title">Date Requested</h3>
            {%endif%}
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="info-box border shadow-none bg-default">
                <div class="info-box-content">
                  {%if data.approval_status == "Rejected"%}
                  <label for="inputEstimatedBudget">Reason</label>
                  <small class="text-muted">{{ data.updated_at.strftime('%A, %B %d, %Y') }}</small>
                  <span>{{ data.remarks }}</span>
                  {%else%}
                  <label for="inputEstimatedBudget">Requested at</label>
                  <span class="info-box-text">{{ data.created_at.strftime('%A, %B %d, %Y') }}</span>
                  <span class="info-box-text">{{ data.created_at.strftime('%I:%S %p') }}</span>
                  {%endif%}
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            <h3 class="card-title">Project Files</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="info-box border shadow-none bg-default">
                <div class="info-box-content">
                  <label for="inputEstimatedBudget">Document Files</label>
                  {%for document in data.project_document%}
                  {%if document.active_status == "Active"%}
                  <a href="{{ document.file }}" download class="btn-link text-secondary"><i class="far fa-file"></i>
                    {{ document.file }}</a>
                  {%endif%}
                  {%else%}
                  <a href="#" class="btn-link text-secondary font-italic"> No files uploaded.</a>
                  {%endfor%}
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Default Modal -->
<div class="modal fade" id="add_file_form_modal">
  <div class="modal-dialog modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New File</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_file_form" enctype="multipart/form-data">
          <div class="form-row">
            <input value="{{ data.id }}" type="hidden" class="form-control" name="project_id" id="project_id">
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">Name <span style="color:red" aria-hidden="true"
                  class="required">*</span></label>
              <input placeholder="Name" type="text" class="form-control" name="name" id="name">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add File</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Remarks</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_remarks_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-12">
                <input type="hidden" class="form-control" name="remarks_id" id="remarks_id">
                <label for="exampleInputEmail1">Remarks <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Remarks" rows="5" cols="20" class="form-control" name="remarks"
                  id="remarks"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/admin_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/admin_restriction.js')}}"></script>

<script>
  start_date = new Date('{{ data.start_date }}');
    end_date = new Date('{{ data.end_date }}');

    console.log(start_date)

    var diff = Math.floor(end_date.getTime() - start_date.getTime());
    var day = 1000 * 60 * 60 * 24;

    var days = Math.floor(diff/day);
    var months = Math.floor(days/31);
    var years = Math.floor(months/12);

    var message = "";

    if(months >= 12){
      months = months - 11;
      message += years + " year and "
      message += months + " months"
    }
    else if(years > 1){
      months = months - (years * 12)
      message += years + " years and "
      message += months + " months"
    }
    else if(days < 30){
      message += days + " days"
    }
    else if(months > 1){
      days = days - (months * 30);
      message += months + " months and "
      message += days + " days"
    }
    else{
      days = days - 30;
      message += months + " month and "
      message += days + " days"
    }

    $('#duration').html(message);
</script>
{%endblock%}