<script>
  var token = sessionStorage.getItem('token')
  var email = sessionStorage.getItem('email')
  var user_id = sessionStorage.getItem('user_id')
  if (token == null || token == "") {
    window.location.replace('/')
  }
</script>
<!DOCTYPE html>
<html lang="en">

{% include './admin/includes/head.html' %}

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed user-select-none">
  <style>
    .table {
      margin: 0 auto;
      width: 100%;
      clear: both;
      border-collapse: collapse;
      table-layout: fixed;
      word-wrap: break-word;
    }
  </style>
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status" style="width: 2.5rem; height: 2.5rem;">
      </div>
    </div>

    <!-- Top Navbar -->
    {% include './admin/includes/navbar.html' %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {%block sidebar%}
    {%endblock%}
    <!-- .main-sidebar -->

    <!-- Content Wrapper. Contains page content -->
    {%block maincontent%}
    {%endblock%}
    <!-- .content-wrapper -->

    <!-- Default Modal -->
    <div class="modal fade" id="logout_form_modal">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fas fa-sign-out-alt text-danger"></i> Log out</h4>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <form id="logout_form">
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col-sm-12">
                    <h7>Are you sure you want to logout?</h7>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger logout-confirm">Log out <i
                    class="fas fa-sign-out-alt"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.1.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
    <!-- /.main-footer -->
  </div>
  <!-- ./wrapper -->

  <!-- pdf -->
  <script src="../../../static/dist/js/jspdf.debug.js"></script>
  <script src="../../../static/dist/js/html2canvas.min.js"></script>
  <script src="../../../static/dist/js/html2pdf.min.js"></script>

  <!-- jQuery -->
  <script src="../../../static/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="../../../static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="../../../static/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../../static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../../static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../../static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../../../static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../../static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../../../static/plugins/jszip/jszip.min.js"></script>
  <script src="../../../static/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../../../static/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="../../../static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../../../static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../../../static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  <!-- jquery-validation -->
  <script src="../../../static/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="../../../static/plugins/jquery-validation/additional-methods.min.js"></script>

  <!-- Select2 -->
  <script src="../../../static/plugins/select2/js/select2.full.min.js"></script>

  <!-- Toastr -->
  <script src="../../../static/plugins/toastr/toastr.min.js"></script>

  <!-- Plugin for the momentJs  -->
  <script src="../../../static/dist/js/moment.min.js"></script>

  <!-- ChartJS -->
  <script src="../../../static/plugins/chart.js/Chart.min.js"></script>

  <!-- OPTIONAL SCRIPTS -->
  <script src="../../../static/plugins/chart.js/Chart.min.js"></script>

  <!-- fullCalendar 2.2.5 -->
  <script src="../../../static/plugins/moment/moment.min.js"></script>
  <script src="../../../static/plugins/fullcalendar/main.js"></script>

  <!-- AdminLTE App -->
  <script src="../../../static/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../../static/dist/js/demo.js"></script>

  <script src="../../../static/dist/js/printThis.js"></script>

  <!-- date-range-picker -->
  <script src="../../../static/plugins/daterangepicker/daterangepicker.js"></script>

  <script>
    $(() => {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
</body>
<script>
  $(document).on("click", ".btn-logout", function () {
    var id = this.value;
    $("#logout_form_modal").modal('show');
  });

  $(document).on("click", ".btn-logouts", function () {
    var id = this.value;
    $("#logout_form_modal").modal('show');
  });

  $('#logout_form').on('submit', function (e) {
    e.preventDefault();
    sessionStorage.clear();
    window.location.replace('/')
  });
</script>

<script src="{{url_for('static', path='/admin_notification.js')}}"></script>

{%block scripts%}
{%endblock%}

</html>