<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Officer | Hospital Management System</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../../static/plugins/fontawesome-free/css/all.min.css">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../../../static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="../../../static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../../static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../../static/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="../../../static/dist/css/adminlte.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="../../../static/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- Toastr -->
    <link rel="stylesheet" href="../../../static/plugins/toastr/toastr.min.css">

    <!-- fullCalendar -->
    <link rel="stylesheet" href="../../../static/plugins/fullcalendar/main.css">

    <!-- daterange picker -->
    <link rel="stylesheet" href="../../../static/plugins/daterangepicker/daterangepicker.css">

    <!-- BS Stepper -->
    <link rel="stylesheet" href="../../../static/plugins/bs-stepper/css/bs-stepper.min.css">

    <!-- email -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <style>
        .myDivToPrint {
            background-color: white;
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0px;
            font-size: 20px;
            line-height: 18px;
        }

        .select2-selection__rendered {
            line-height: 23px !important;
            margin-left: -5px;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
</head>