{%extends 'base.html'%}

{%block includes%}
{% include './department_head/includes/head.html' %}

{% include './department_head/includes/navbar.html' %}
{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>
      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">

        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>

        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header font-weight-bold text-wrap">PROJECT MANAGEMENT SYSTEM</li>
        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/department_head/dashboard" {%if request.path == '/department_head/dashboard'%}
            class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-header">REQUESTS</li>
        <li class="nav-item">
          <a href="/department_head/concept_paper_requisition"
            {%if request.path == '/department_head/concept_paper_requisition'%} class="nav-link active" {%else%}
            class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-file-alt"></i>
            <p>Concept Papers</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/department_head/project_requisition" {%if request.path == '/department_head/project_requisition'%}
            class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-copy"></i>
            <p>Proposals</p>
          </a>
        </li>
        <li class="nav-header">PROJECTS</li>
        <li class="nav-item">
          <a href="/department_head/project_lists" class="nav-link active"
            {%if request.path == '/department_head/project_lists'%} class="nav-link active" {%else%} class="nav-link"
            {%endif%}>
            <i class="nav-icon fas fa-hammer"></i>
            <p>Projects</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/department_head/calendar" {%if request.path == '/department_head/calendar'%} class="nav-link active"
            {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-calendar"></i>
            <p>Schedule</p>
          </a>
        </li>
        <li class="nav-header">TASKS</li>
        <li class="nav-item">
          <a href="/department_head/task_lists" {%if request.path == '/department_head/task_lists'%}
            class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tasks"></i>
            <p>General Tasks</p>
          </a>
        </li>
        <li class="nav-header">REPORTS</li>
        <li class="nav-item">
          <a href="/department_head/reports" {%if request.path == '/department_head/reports'%} class="nav-link active"
            {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-file-signature"></i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-header">TERMS OF REFERENCE</li>
          <li class="nav-item">
            <a href="/department_head/terms_of_reference" {%if request.path == '/department_head/terms_of_reference'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-copy"></i>
              <p>Terms of Reference</p>
            </a>
          </li>
        <!-- <li class="nav-header">ARCHIVE</li>
        <li class="nav-item">
          <a href="/department_head/archive" {%if request.path == '/department_head/archive'%} class="nav-link active"
            {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-trash"></i>
            <p>Archive</p>
          </a>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
  <!-- /.sidebar -->

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <form>
      <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
      <button type="button" class="btn btn-sm btn-danger hide-on-collapse pos-right btn-logouts">Log out <i
          class="fas fa-sign-out-alt ml-1"></i></button>
    </form>
  </div>
  <!-- /.sidebar-custom -->

</aside>
<!-- /.main-sidebar -->
{%endblock%}


{%block maincontent%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Project Tasks</h1>
          <div class="text-muted">Project tasks to view all tasks</div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Projects</a></li>
            <li class="breadcrumb-item active">Project Details</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            <h3 class="card-title">Project Details</h3>
            <div class="card-tools">
              <a href="/department_head/project_details/{{ data.id }}"><button
                  class="btn btn-secondary bg-solid-secondary btn-sm"><i class="fas fa-list mr-1"></i> View
                  Details</button></a>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Name</label>
                      <span>{{ data.name }}</span>
                      <small class="text-muted"> {{ data.type }} </small>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Manager</label>
                      <span>{{ data.project_user.first_name }} {{ data.project_user.last_name}}
                        {{ data.project_user.suffix_name}}</span>
                      <small class="text-muted"> {{ data.project_department.name }} </small>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Cost</label>
                      <span>{{ "₱{:,.2f}".format(data.cost) }}</span>
                      <small class="text-muted">{{ data.start_date.strftime('%b %d, %Y') }} -
                        {{ data.end_date.strftime('%b %d, %Y') }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

    <!-- Default box -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline card-tabs">
          <div class="card-header p-0 pt-1 pb-1">
            <div class="card-title ml-4 mt-2">List of Tasks</div>
            <div class="card-tools">
              <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
              </button>
              <button data-toggle="modal" data-target="#modal-defaults" class="btn btn-primary bg-solid-primary btn-sm"
                type="button" id="new_task"><i class="fa fa-plus"></i> Add New Task</button>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="mb-3">
              <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-four-all-tab" data-toggle="pill"
                    href="#custom-tabs-four-all" role="tab" aria-controls="custom-tabs-four-all"
                    aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-on-progress-tab" data-toggle="pill"
                    href="#custom-tabs-four-on-track" role="tab" aria-controls="custom-tabs-four-on-track"
                    aria-selected="false">On Track</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-completed-tab" data-toggle="pill"
                    href="#custom-tabs-four-at-risk" role="tab" aria-controls="custom-tabs-four-at-risk"
                    aria-selected="false">At Risk</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-cancelled-tab" data-toggle="pill"
                    href="#custom-tabs-four-off-track" role="tab" aria-controls="custom-tabs-four-off-track"
                    aria-selected="false">Off Track</a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="custom-tabs-four-tabContent">
              <div class="tab-pane fade show active" id="custom-tabs-four-all" role="tabpanel"
                aria-labelledby="custom-tabs-four-all-tab">
                <table id="tasks_table" class="table table-bordered table-hover" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Task</th>
                      <th>Assigned</th>
                      <th>Deadline</th>
                      <th>Status</th>
                      <th>Progress</th>
                      <th>Created At</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="custom-tabs-four-on-track" role="tabpanel"
                aria-labelledby="custom-tabs-four-on-track-tab">
                <table id="on_track_table" class="table table-bordered table-hover" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Task</th>
                      <th>Assigned</th>
                      <th>Deadline</th>
                      <th>Status</th>
                      <th>Progress</th>
                      <th>Created At</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="custom-tabs-four-at-risk" role="tabpanel"
                aria-labelledby="custom-tabs-four-at-risk-tab">
                <table id="at_risk_table" class="table table-bordered table-hover" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Task</th>
                      <th>Assigned</th>
                      <th>Deadline</th>
                      <th>Status</th>
                      <th>Progress</th>
                      <th>Created At</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="custom-tabs-four-off-track" role="tabpanel"
                aria-labelledby="custom-tabs-four-off-track-tab">
                <table id="off_track_table" class="table table-bordered table-hover" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Task</th>
                      <th>Assigned</th>
                      <th>Deadline</th>
                      <th>Status</th>
                      <th>Progress</th>
                      <th>Created At</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- /.card -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modal-defaults">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fa fa-plus mr-2"></i>New Task</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_task_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <input value="{{ data.id }}" type="hidden" class="form-control" name="project_id" id="project_id">
                <label class="location" for="exampleInputPassword1">Task Name <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Task Name" type="text" class="form-control" name="name" id="name">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Deadline <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Deadline" type="date" class="form-control" name="deadline" id="deadline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <input value="{{ data.id }}" type="hidden" class="form-control" name="project_id" id="project_id">
                <label class="location" for="exampleInputPassword1">Employee <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="employee_id" name="employee_id">
                </select>
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Priority <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="priority" name="priority">
                  <option selected disabled value="">Select Priority</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Description" rows="7" cols="50" class="form-control" name="description"
                  id="description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Task <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="edit_task_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-edit mr-2"></i>Edit Task</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit_task_form">
          <div class="modal-body">
            <div class="form-row">
              <input type="hidden" class="form-control" name="edit_id" id="edit_id">
              <input value="{{ data.id }}" type="hidden" class="form-control" name="edit_project_id"
                id="edit_project_id">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Task Name <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Task Name" type="text" class="form-control" name="edit_name" id="edit_name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Employee <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_employee_id"
                  name="edit_employee_id">
                </select>
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Deadline <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Deadline" type="date" class="form-control" name="edit_deadline"
                  id="edit_deadline">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Status <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_status" name="edit_status">
                  <option disabled value="">Select Status</option>
                  <option value="On Track">On Track</option>
                  <option value="At Risk">At Risk</option>
                  <option value="Off Track">Off Track</option>
                </select>
              </div>
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Priority <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_priority" name="edit_priority">
                  <option disabled value="">Select Priority</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Progress <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_progress_status"
                  name="edit_progress_status">
                  <option disabled value="">Select Progress</option>
                  <option value="To Do">To Do</option>
                  <option value="On Progress">On Progress</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Description" rows="7" cols="50" class="form-control"
                  name="edit_description" id="edit_description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Update <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="mark_task_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-exclamation-triangle text-secondary"></i> Confirmation
        </h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="mark_task_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="mark_id" id="mark_id" aria-describedby="emailHelp">
            <input type="hidden" class="form-control" name="project_id" id="project_id" aria-describedby="emailHelp">
            <h7>Are you sure you want to mark this as completed task?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success mark-confirm">Yes, mark it! <i
                class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="delete_task_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-exclamation-triangle text-secondary"></i> Confirmation
        </h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete_task_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="delete_id" id="delete_id" aria-describedby="emailHelp">
            <h7>Are you sure you want to delete this task?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-confirm">Yes, delete it. <i
                class="fas fa-times-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/department_head_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/department_head_restriction.js')}}"></script>
<script src="{{url_for('static', path='/department_head_notification.js')}}"></script>

<script>
  $('.select2bs4').select2()

  function tasks_table() {
    tasksDataTable = $('#tasks_table').DataTable({
      ajax: {
        url: "/task/project/{{ data.id }}",
        dataSrc: ""
      },
      "columns": [{
          data: "id"
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.name;
          }
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.task_employee.first_name + " " + row.task_employee.last_name + " " + row.task_employee
              .suffix_name + '<br>' + '<small class="text-muted">' + row.task_employee.job.title + '</small>';;
          }
        },
        {
          data: null,
          render: function (data, type, row, meta) {
            return moment(row.deadline).format('MMMM D, YYYY') + '<br>' + '<small class="text-muted">' +
              moment(row.deadline).fromNow() + '</small>';
          }
        },
        {
          data: "status",
          render: function (data, type, row) {
            if (data == "On Track") {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .status + '</div>';
            } else if (data == "Off Track") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-times mr-1"></i> ' + row
                .status + '</div>';
            } else {
              return '<div class="badge badge-danger p-2 w-100"><i class="fas fa-exclamation-triangle mr-1"></i> ' +
                row.status + '</div>';
            }
          }
        },
        {
          data: "progress_status",
          render: function (data, type, row) {
            if (data == "To Do") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-clipboard-check mr-1"></i> ' +
                row.progress_status + '</div>';
            } else if (data == "On Progress") {
              return '<div class="badge badge-info p-2 w-100"><i class="fas fa-sync mr-1"></i> ' + row
                .progress_status + '</div>';
            } else {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .progress_status + '</div>';
            }
          }
        },
        {
          data: "created_at"
        },
        {
          data: "active_status",
          render: function (data, type, row) {
            if (data == "Active" && row.progress_status == "On Progress") {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-mark">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-check mr-1"></i>' +
                '</div>' +
                '<div>Mark as Completed</div>' +
                '</button>' +
                '<div class="dropdown-divider"></div>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            } else {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            }
          }
        },
      ],
      "aoColumnDefs": [{
        "bVisible": false,
        "aTargets": [0, 6]
      }],
      "order": [
        [6, "desc"]
      ]
    })
  }

  function on_track_table() {
    onTrackDataTable = $('#on_track_table').DataTable({
      ajax: {
        url: "/task/project/status/On%20Track/{{ data.id }}",
        dataSrc: ""
      },
      "columns": [{
          data: "id"
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.name;
          }
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.task_employee.first_name + " " + row.task_employee.last_name + " " + row.task_employee
              .suffix_name + '<br>' + '<small class="text-muted">' + row.task_employee.job.title + '</small>';;
          }
        },
        {
          data: null,
          render: function (data, type, row, meta) {
            return moment(row.deadline).format('MMMM D, YYYY') + '<br>' + '<small class="text-muted">' +
              moment(row.deadline).fromNow() + '</small>';
          }
        },
        {
          data: "status",
          render: function (data, type, row) {
            if (data == "On Track") {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .status + '</div>';
            } else if (data == "Off Track") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-times mr-1"></i> ' + row
                .status + '</div>';
            } else {
              return '<div class="badge badge-danger p-2 w-100"><i class="fas fa-exclamation-triangle mr-1"></i> ' +
                row.status + '</div>';
            }
          }
        },
        {
          data: "progress_status",
          render: function (data, type, row) {
            if (data == "To Do") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-clipboard-check mr-1"></i> ' +
                row.progress_status + '</div>';
            } else if (data == "On Progress") {
              return '<div class="badge badge-info p-2 w-100"><i class="fas fa-sync mr-1"></i> ' + row
                .progress_status + '</div>';
            } else {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .progress_status + '</div>';
            }
          }
        },
        {
          data: "created_at"
        },
        {
          data: "active_status",
          render: function (data, type, row) {
            if (data == "Active" && row.progress_status == "On Progress") {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-mark">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-check mr-1"></i>' +
                '</div>' +
                '<div>Mark as Completed</div>' +
                '</button>' +
                '<div class="dropdown-divider"></div>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            } else {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            }
          }
        },
      ],
      "aoColumnDefs": [{
        "bVisible": false,
        "aTargets": [0, 6]
      }],
      "order": [
        [6, "desc"]
      ]
    })
  }

  function at_risk_table() {
    atRiskDataTable = $('#at_risk_table').DataTable({
      ajax: {
        url: "/task/project/status/At%20Risk/{{ data.id }}",
        dataSrc: ""
      },
      "columns": [{
          data: "id"
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.name;
          }
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.task_employee.first_name + " " + row.task_employee.last_name + " " + row.task_employee
              .suffix_name + '<br>' + '<small class="text-muted">' + row.task_employee.job.title + '</small>';;
          }
        },
        {
          data: null,
          render: function (data, type, row, meta) {
            return moment(row.deadline).format('MMMM D, YYYY') + '<br>' + '<small class="text-muted">' +
              moment(row.deadline).fromNow() + '</small>';
          }
        },
        {
          data: "status",
          render: function (data, type, row) {
            if (data == "On Track") {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .status + '</div>';
            } else if (data == "Off Track") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-times mr-1"></i> ' + row
                .status + '</div>';
            } else {
              return '<div class="badge badge-danger p-2 w-100"><i class="fas fa-exclamation-triangle mr-1"></i> ' +
                row.status + '</div>';
            }
          }
        },
        {
          data: "progress_status",
          render: function (data, type, row) {
            if (data == "To Do") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-clipboard-check mr-1"></i> ' +
                row.progress_status + '</div>';
            } else if (data == "On Progress") {
              return '<div class="badge badge-info p-2 w-100"><i class="fas fa-sync mr-1"></i> ' + row
                .progress_status + '</div>';
            } else {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .progress_status + '</div>';
            }
          }
        },
        {
          data: "created_at"
        },
        {
          data: "active_status",
          render: function (data, type, row) {
            if (data == "Active" && row.progress_status == "On Progress") {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-mark">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-check mr-1"></i>' +
                '</div>' +
                '<div>Mark as Completed</div>' +
                '</button>' +
                '<div class="dropdown-divider"></div>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            } else {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            }
          }
        },
      ],
      "aoColumnDefs": [{
        "bVisible": false,
        "aTargets": [0, 6]
      }],
      "order": [
        [6, "desc"]
      ]
    })
  }

  function off_track_table() {
    offTrackDataTable = $('#off_track_table').DataTable({
      ajax: {
        url: "/task/project/status/Off%20Track/{{ data.id }}",
        dataSrc: ""
      },
      "columns": [{
          data: "id"
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.name;
          }
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.task_employee.first_name + " " + row.task_employee.last_name + " " + row.task_employee
              .suffix_name + '<br>' + '<small class="text-muted">' + row.task_employee.job.title + '</small>';;
          }
        },
        {
          data: null,
          render: function (data, type, row, meta) {
            return moment(row.deadline).format('MMMM D, YYYY') + '<br>' + '<small class="text-muted">' +
              moment(row.deadline).fromNow() + '</small>';
          }
        },
        {
          data: "status",
          render: function (data, type, row) {
            if (data == "On Track") {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .status + '</div>';
            } else if (data == "Off Track") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-times mr-1"></i> ' + row
                .status + '</div>';
            } else {
              return '<div class="badge badge-danger p-2 w-100"><i class="fas fa-exclamation-triangle mr-1"></i> ' +
                row.status + '</div>';
            }
          }
        },
        {
          data: "progress_status",
          render: function (data, type, row) {
            if (data == "To Do") {
              return '<div class="badge badge-secondary p-2 w-100"><i class="fas fa-clipboard-check mr-1"></i> ' +
                row.progress_status + '</div>';
            } else if (data == "On Progress") {
              return '<div class="badge badge-info p-2 w-100"><i class="fas fa-sync mr-1"></i> ' + row
                .progress_status + '</div>';
            } else {
              return '<div class="badge badge-success p-2 w-100"><i class="fas fa-check mr-1"></i> ' + row
                .progress_status + '</div>';
            }
          }
        },
        {
          data: "created_at"
        },
        {
          data: "active_status",
          render: function (data, type, row) {
            if (data == "Active" && row.progress_status == "On Progress") {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-mark">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-check mr-1"></i>' +
                '</div>' +
                '<div>Mark as Completed</div>' +
                '</button>' +
                '<div class="dropdown-divider"></div>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            } else {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Task</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-deletes">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Task</div>' +
                '</button>'
            }
          }
        },
      ],
      "aoColumnDefs": [{
        "bVisible": false,
        "aTargets": [0, 6]
      }],
      "order": [
        [6, "desc"]
      ]
    })
  }

  function get_all_users() {
    $.ajax({
      url: '/employee/department/{{ data.department_id }}',
      type: "GET",
      dataType: "JSON",

      success: function (data) {
        var users = data;
        console.log(users)

        var html = "";

        if (users.length == 0) {
          var html = `<option>No Employee</option>`;
        } else {
          var html = "<option selected disabled>Select Employee</option>";
        }

        for (var i = 0; i < users.length; i++) {
          html +=
            `<option value="${users[i].id}">${users[i].first_name + ' ' + users[i].last_name + ' ' + users[i].suffix_name}</option>`
        }

        $('#employee_id').html(html);
        $('#edit_employee_id').html(html);
      },

      error: function (detail) {
        console.log(detail.responseJSON.detail)

        var html = `<option selected disabled>${detail.responseJSON.detail}</option>`;

        $('#employee_id').html(html);
      }
    })
  }

  get_all_users();
  tasks_table();
  on_track_table();
  at_risk_table();
  off_track_table();

  $(function () {
    $('#add_task_form').validate({
      rules: {
        name: {
          required: true,
        },
        priority: {
          required: true,
        },
        employee_id: {
          required: true,
        },
        deadline: {
          required: true,
        },
        description: {
          required: true
        },
      },
      messages: {
        name: {
          required: "Please enter task name",
        },
        priority: {
          required: "Please select priority",
        },
        employee_id: {
          required: "Please select employee",
        },
        deadline: {
          required: "Please select deadline",
        },
        description: {
          required: "Please enter description",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // ADD TASK
        var form = $('#add_task_form');

        // ajax opening tag
        $.ajax({
          url: '/task/',
          type: "POST",
          data: form.serialize(),
          dataType: "JSON",

          success: function (data) {
            $("#add_task_form").trigger("reset");
            $("#modal-defaults").modal('hide');
            toastr.success('Successfully added new task.')
            refresh1();
            refresh2();
            refresh3();
            refresh4();
            // End of Confirmation
          }
          // ajax closing tag
        })
      }
    });

    $('#edit_task_form').validate({
      rules: {
        edit_name: {
          required: true,
        },
        edit_priority: {
          required: true,
        },
        edit_progress_status: {
          required: true,
        },
        edit_description: {
          required: true
        },
      },
      messages: {
        edit_name: {
          required: "Please enter task name",
        },
        edit_priority: {
          required: "Please select priority",
        },
        edit_progress_status: {
          required: "Please select progress status",
        },
        edit_description: {
          required: "Please enter description",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // EDIT TASK
        var id = document.getElementById("edit_id").value
        var project_id = document.getElementById("edit_project_id").value
        var name = document.getElementById("edit_name").value
        var priority = document.getElementById("edit_priority").value
        var status = document.getElementById("edit_status").value
        var progress_status = document.getElementById("edit_progress_status").value
        var description = document.getElementById("edit_description").value
        var employee_id = document.getElementById("edit_employee_id").value
        var deadline = document.getElementById("edit_deadline").value
        var form = $('#edit_department_form');

        $.ajax({
          url: '/task/' + id,
          type: "PUT",
          data: {
            project_id: project_id,
            name: name,
            priority: priority,
            status: status,
            progress_status: progress_status,
            description: description,
            deadline: deadline,
            employee_id: employee_id
          },
          dataType: "JSON",

          success: function (data) {
            $("#edit_task_form_modal").modal('hide');
            toastr.info('Successfully updated task.')
            refresh1();
            refresh2();
            refresh3();
            refresh4();
          }
        })
      }
    });
  });

  function refresh1() {
    var url = "/task/project/{{ data.id }}";
    tasksDataTable.ajax.url(url).load();
  }

  function refresh2() {
    var url = "/task/project/status/On%20Track/{{ data.id }}";
    onTrackDataTable.ajax.url(url).load();
  }

  function refresh3() {
    var url = "/task/project/status/At%20Risk/{{ data.id }}";
    atRiskDataTable.ajax.url(url).load();
  }

  function refresh4() {
    var url = "/task/project/status/Off%20Track/{{ data.id }}";
    offTrackDataTable.ajax.url(url).load();
  }

  // VIEW TASK
  $(document).on("click", ".btn-view", function () {
    var id = this.value;
    $.ajax({
      url: '/task/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var task = data;
        window.location.href = "http://127.0.0.1:8000/department_head/task_details/" + task.id;
      }
    })
  });

  // MARK AS COMPLETED TASK
  $(document).on("click", ".btn-mark", function () {
    var id = this.value;
    $('#mark_task_form_modal').modal('show');

    $.ajax({
      url: '/task/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var task = data;
        $('#mark_id').val(task.id);
        $('#project_id').val(task.project_id);
      }
    })
  });

  // MARK AS COMPLETED TASK
  $('.mark-confirm').on('click', function (e) {
    e.preventDefault();
    $('#mark_task_form_modal').modal('show');
    var id = document.getElementById("mark_id").value
    var project_id = document.getElementById("project_id").value
    var form = $('#mark_task_form');

    // ajax opening tag
    $.ajax({
      url: '/task/mark_completed/' + id,
      type: "PUT",
      data: {
        project_id: project_id
      },
      dataType: "JSON",

      success: function (data) {
        refresh1();
        refresh2();
        refresh3();
        refresh4();
        toastr.info('Successfully marked as completed task.')
        $('#mark_task_form_modal').modal('hide');
      }
      // ajax closing tag
    })
  });

  // EDIT TASK
  $(document).on("click", ".btn-edit", function () {
    var id = this.value;
    $("#edit_task_form_modal").modal('show');

    $.ajax({
      url: '/task/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var task = data;

        $('#edit_id').val(id);
        $('#edit_project_id').val(task.project_id);
        $('#edit_name').val(task.name);
        $('#edit_priority').val(task.priority);
        $('#edit_employee_id').val(task.employee_id);
        $('#edit_deadline').val(moment(task.deadline).format('YYYY-MM-DD'));
        $('#edit_status').val(task.status);
        $('#edit_description').val(task.description);
      }
    })
  });

  // DELETE TASK
  $(document).on("click", ".btn-deletes", function () {
    var id = this.value;
    $('#delete_task_form_modal').modal('show');

    $.ajax({
      url: '/task/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var user = data;
        $('#delete_id').val(user.id);
      }
    })
  });

  $('.delete-confirm').on('click', function (e) {
    e.preventDefault();
    $('#delete_task_form_modal').modal('show');
    var id = document.getElementById("delete_id").value
    var form = $('#delete_task_form');

    // ajax opening tag
    $.ajax({
      url: '/task/' + id,
      type: "DELETE",
      data: form.serialize(),
      dataType: "JSON",

      success: function (data) {
        refresh1();
        refresh2();
        refresh3();
        refresh4();
        toastr.info('Successfully deleted task.')
        $('#delete_task_form_modal').modal('hide');
      }
      // ajax closing tag
    })
  });
</script>
{%endblock%}