{%extends 'base.html'%}

{%block includes%}
{% include './department_head/includes/head.html' %}

{% include './department_head/includes/navbar.html' %}
{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>
      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">
                      
        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>
        
        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header font-weight-bold text-wrap">PROJECT MANAGEMENT SYSTEM</li>
        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/department_head/dashboard" {%if request.path == '/department_head/dashboard'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-header">REQUESTS</li>
          <li class="nav-item">
            <a href="/department_head/concept_paper_requisition" {%if request.path == '/department_head/concept_paper_requisition'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
                <i class="nav-icon fas fa-file-alt"></i>
              <p>Concept Papers</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/department_head/project_requisition" {%if request.path == '/department_head/project_requisition'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-copy"></i>
              <p>Proposals</p>
            </a>
          </li>
        <li class="nav-header">PROJECTS</li>
        <li class="nav-item">
          <a href="/department_head/project_lists" class="nav-link active" {%if request.path == '/department_head/project_lists'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-hammer"></i>
            <p>Projects</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/department_head/calendar" {%if request.path == '/department_head/calendar'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-calendar"></i>
            <p>Schedule</p>
          </a>
        </li>
        <li class="nav-header">TASKS</li>
        <li class="nav-item">
          <a href="/department_head/task_lists" {%if request.path == '/department_head/task_lists'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tasks"></i>
            <p>General Tasks</p>
          </a>
        </li>
        <li class="nav-header">REPORTS</li>
        <li class="nav-item">
          <a href="/department_head/reports" {%if request.path == '/department_head/reports'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-file-signature"></i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-header">TERMS OF REFERENCE</li>
          <li class="nav-item">
            <a href="/department_head/terms_of_reference" {%if request.path == '/department_head/terms_of_reference'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-copy"></i>
              <p>Terms of Reference</p>
            </a>
          </li>
        <!-- <li class="nav-header">ARCHIVE</li>
        <li class="nav-item">
          <a href="/department_head/archive" {%if request.path == '/department_head/archive'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-trash"></i>
            <p>Archive</p>
          </a>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
  <!-- /.sidebar -->

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <form>
      <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
      <button type="button" class="btn btn-sm btn-danger hide-on-collapse pos-right btn-logouts">Log out <i
          class="fas fa-sign-out-alt ml-1"></i></button>
    </form>
  </div>
  <!-- /.sidebar-custom -->

</aside>
<!-- /.main-sidebar -->
{%endblock%}


{%block maincontent%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Project Quotations</h1>
          <div class="text-muted">Project quotations to manage total funds</div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            <h3 class="card-title">Project Details</h3>
            <div class="card-tools">
              <div class="text-center dropdown">
                <button type="button" value="{{ data.id }}" class="btn btn-sm btn-secondary btn-details"><i class="fas fa-list mr-1"></i> View Details</button>
                <!-- <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                  <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                  <button type="button" value="{{ data.id }}" class="dropdown-item d-flex btn-details">
                    <div style="width: 2rem">
                      <i class="fas fa-list mr-1"></i>
                    </div>
                    <div>View Details</div>
                  </button>
                </div> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Name</label>
                      <span>{{ data.name }}</span>
                      <small class="text-muted"> {{ data.type }} </small>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Manager</label>
                      <span>{{ data.project_user.first_name }} {{ data.project_user.last_name}}
                        {{ data.project_user.suffix_name}}</span>
                      <small class="text-muted"> {{ data.project_department.name }} </small>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box border shadow-none bg-default">
                    <div class="info-box-content">
                      <label class="info-box-text" for="inputName">Project Cost</label>
                      <span>{{ "₱{:,.2f}".format(data.cost) }}</span>
                      <small class="text-muted">{{ data.start_date.strftime('%b %d, %Y') }} -
                        {{ data.end_date.strftime('%b %d, %Y') }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

    <!-- Default box -->
    <div class="card card-primary card-outline card-tabs">
      <!-- Card Header -->
      <div class="card-header p-0 pt-1 pb-1">
        <div class="card-title ml-4 mt-2">List of Quotations</div>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
            <i class="fas fa-expand"></i>
          </button>
          <button data-toggle="modal" data-target="#modal-default" class="btn btn-primary bg-solid-primary btn-sm"
            id="new_task"><i class="fa fa-plus"></i> Add New Quotation</button>
        </div>
      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">
        <table id="quotation_table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th style="width:10%;">Task Name</th>
              <th style="width:15%;">Product/Service</th>
              <th style="width:10%;">Price</th>
              <th style="width:10%;">Quantity</th>
              <th style="width:10%;">Total</th>
              <th>Created At</th>
              <th style="width:10%;">Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th></th>
            <th></th>
            <th></th>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fa fa-plus mr-2"></i> New Task</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_quotation_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <input value="{{ data.id }}" type="hidden" class="form-control" name="project_id" id="project_id">
                <label class="location" for="exampleInputPassword1">Task Name <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="task_id" name="task_id">

                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Product/Service <span style="color:red"
                    aria-hidden="true" class="required">*</span></label>
                <input placeholder="Enter Name" type="text" class="form-control" name="name" id="name">
              </div>
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Price <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Price" type="number" step="any" class="form-control" name="price" id="price">
              </div>
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Quantity <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Quantity" type="number" class="form-control" name="quantity" id="quantity">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Description" rows="7" cols="50" class="form-control" name="description"
                  id="description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Quotation <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="view_quotation_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-file-alt mr-2"></i> Quotation Details</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="view_quotation_form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Task: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_task" id="view_task" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label class="location" for="exampleInputPassword1">Product/Service: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_name" id="view_name" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Price: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_price" id="view_price" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Quantity: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_quantity" id="view_quantity" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Total: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_total" id="view_total" aria-describedby="emailHelp"></span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4 border-bottom">
                <label for="exampleInputEmail1">Description: </label>
              </div>
              <div class="form-group col-sm-8 border-bottom">
                <span name="view_description" id="view_description" aria-describedby="emailHelp"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="edit_quotation_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-edit mr-2"></i> Edit Task</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit_quotation_form">
          <div class="modal-body">
            <div class="form-row">
              <input type="hidden" class="form-control" name="edit_id" id="edit_id">
              <input value="{{ data.id }}" type="hidden" class="form-control" name="edit_project_id"
                id="edit_project_id">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Task Name <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <select class="form-control select2bs4" style="width: 100%;" id="edit_task_id" name="edit_task_id">

                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Product/Service <span style="color:red"
                    aria-hidden="true" class="required">*</span></label>
                <input placeholder="Enter Name" type="text" class="form-control" name="edit_name" id="edit_name">
              </div>
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Price <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Price" type="number" step="any" class="form-control" name="edit_price" id="edit_price">
              </div>
              <div class="form-group col-sm-4">
                <label class="location" for="exampleInputPassword1">Quantity <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Quantity" type="number" class="form-control" name="edit_quantity"
                  id="edit_quantity">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Description" rows="7" cols="50" class="form-control"
                  name="edit_description" id="edit_description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Update <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="delete_quotation_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-exclamation-triangle text-secondary"></i> Confirmation
        </h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete_quotation_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="delete_id" id="delete_id" aria-describedby="emailHelp">
            <h7>Are you sure you want to delete this quotation?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-confirm">Yes, delete it. <i
                class="fas fa-times-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/department_head_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/department_head_restriction.js')}}"></script>
<script src="{{url_for('static', path='/department_head_notification.js')}}"></script>

<script>
  $('.select2bs4').select2()

  var pageTotal;

  function quotation_table() {
    quotationDataTable = $('#quotation_table').DataTable({
      processing: true,
      lengthChange: false,
      pageLength: 5,
      // scrollY: 400,
      responsive: true,
      buttons: [{
          extend: 'excel',
          title: 'Project: {{ data.name }}',
          footer: true,
          exportOptions: {
            columns: [1, 2, 3, 4, 5]
          },
        },
        {
          extend: 'pdf',
          title: 'Project: {{ data.name }}',
          footer: true,
          exportOptions: {
            columns: [1, 2, 3, 4, 5]
          },
        },
        {
          extend: 'print',
          title: 'Project: {{ data.name }}',
          footer: true,
          exportOptions: {
            columns: [1, 2, 3, 4, 5],
            autoPrint: true,
            orientation: 'landscape'
          },
        },
      ],
      ajax: {
        url: "/quotation/project/{{ data.id }}",
        dataSrc: ""
      },
      "columns": [{
          data: "id"
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.quotation_task.name;
          }
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.name;
          }
        },
        {
          data: "price",
          render: $.fn.dataTable.render.number(',', '.', 2, '₱')
        },
        {
          data: "quantity"
        },
        {
          data: "total",
          render: $.fn.dataTable.render.number(',', '.', 2, '₱')
        },
        {
          data: "created_at"
        },
        {
          data: "active_status",
          render: function (data, type, row) {
            if (data == "Active") {
              return '<div class="text-center dropdown">' +
                '<div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">' +
                '<i class="fas fa-ellipsis-v"></i>' +
                '</div>' +
                '<div class="dropdown-menu dropdown-menu-right">' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-view">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-list mr-1"></i>' +
                '</div>' +
                '<div>View Quotation</div>' +
                '</button>' +
                '<div class="dropdown-divider"></div>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-edit">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-edit mr-1"></i>' +
                '</div>' +
                '<div>Edit Quotation</div>' +
                '</button>' +
                '<button type="button" value="' + row.id + '" class="dropdown-item d-flex btn-delete">' +
                '<div style="width: 2rem">' +
                '<i class="fas fa-trash-alt mr-1"></i>' +
                '</div>' +
                '<div>Delete Quotation</div>' +
                '</button>'
            }
          }
        },
      ],
      "aoColumnDefs": [{
        "bVisible": false,
        "aTargets": [0, 6]
      }],
      "order": [
        [6, "desc"]
      ],
      initComplete: function () {
        quotationDataTable.buttons().container().appendTo('#quotation_table_wrapper .col-md-6:eq(0)')
      },
      "footerCallback": function (row, data, start, end, display) {
        console.log('{{ data.cost }}')
        var numFormat = $.fn.dataTable.render.number('\,', '.', 2, '₱').display;
        var api = this.api(),
          data;

        // Remove the formatting to get integer data for summation
        var intVal = function (i) {
          return typeof i === 'string' ?
            i.replace(/[\₱,]/g, '') * 1 :
            typeof i === 'number' ?
            i : 0;
        };

        // Total over all pages
        total = api
          .column(5)
          .data()
          .reduce(function (a, b) {
            return intVal(a) + intVal(b);
          }, 0);

        // Total over this page
        pageTotal = api
          .column(5, {
            filter: 'applied'
          })
          .data()
          .reduce(function (a, b) {
            return intVal(a) + intVal(b);
          }, 0);

        // Update footer
        $(api.column(5).footer()).html(
          numFormat(pageTotal)
        );
      }
    })
  }

  function get_all_tasks() {
    $.ajax({
      url: '/task/project/{{ data.id }}',
      type: "GET",
      dataType: "JSON",

      success: function (data) {
        var tasks = data;

        var html = "";

        if (tasks.length == 0) {
          var html = `<option>No Tasks</option>`;
        } else {
          var html = "<option selected disabled>Select Tasks</option>";
        }

        for (var i = 0; i < tasks.length; i++) {
          html += `<option value="${tasks[i].id}">${tasks[i].name}</option>`
        }

        if (tasks.length == 0) {
          var html1 = `<option>No Tasks</option>`;
        } else {
          var html1 = "<option disabled>Select Tasks</option>";
        }

        for (var i = 0; i < tasks.length; i++) {
          html1 += `<option value="${tasks[i].id}">${tasks[i].name}</option>`
        }

        $('#task_id').html(html);
        $('#edit_task_id').html(html);
      }
    })
  }

  quotation_table();
  get_all_tasks();

  $(function () {
    $('#add_quotation_form').validate({
      rules: {
        task_id: {
          required: true,
        },
        name: {
          required: true,
        },
        price: {
          required: true,
        },
        quantity: {
          required: true,
        },
        description: {
          required: true
        }
      },
      messages: {
        task_id: {
          required: "Please select task",
        },
        name: {
          required: "Please enter name",
        },
        price: {
          required: "Please enter price",
        },
        quantity: {
          required: "Please enter quantity",
        },
        description: {
          required: "Please enter description",
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        var quantity = document.getElementById('quantity').value;
        var price = document.getElementById('price').value;

        var total = price * quantity;
        var check_total = pageTotal + total;
        
        // ADD QUOTATION
        formData = new FormData();
        formData.append('project_id', $('#project_id').val());
        formData.append('task_id', $('#task_id').val());
        formData.append('name', $('#name').val());
        formData.append('description', $('#description').val());
        formData.append('quantity', $('#quantity').val());
        formData.append('price', $('#price').val());
        formData.append('total', total);

        if(check_total <= '{{ data.cost }}'){
          // ajax opening tag
          $.ajax({
            url: '/quotation/',
            type: "POST",
            processData: false,
            data: formData,
            contentType: false,

            success: function (data) {
              $("#add_quotation_form").trigger("reset");
              $("#modal-default").modal('hide');
              toastr.success('Successfully added new quotation.')
              refresh();
              // End of Confirmation
            }
            // ajax closing tag
          })
        }
        else{
          $("#add_quotation_form").trigger("reset");
          $("#modal-default").modal('hide');
          toastr.info('There is no more funds. Please request an another project.')
        }
      }
    });

    $('#edit_quotation_form').validate({
      rules: {
        edit_task_id: {
          required: true,
        },
        edit_name: {
          required: true,
        },
        edit_price: {
          required: true,
        },
        edit_quantity: {
          required: true,
        },
        edit_description: {
          required: true
        }
      },
      messages: {
        edit_task_id: {
          required: "Please select task",
        },
        edit_name: {
          required: "Please enter name",
        },
        edit_price: {
          required: "Please enter price",
        },
        edit_quantity: {
          required: "Please enter quantity",
        },
        edit_description: {
          required: "Please enter description",
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        var quantity = document.getElementById('edit_quantity').value;
        var price = document.getElementById('edit_price').value;

        var total = price * quantity;
        var check_total = pageTotal + total;
        console.log(check_total)

        // EDIT TASK
        var id = document.getElementById("edit_id").value
        formData = new FormData();
        formData.append('project_id', $('#edit_project_id').val());
        formData.append('task_id', $('#edit_task_id').val());
        formData.append('name', $('#edit_name').val());
        formData.append('description', $('#edit_description').val());
        formData.append('quantity', $('#edit_quantity').val());
        formData.append('price', $('#edit_price').val());
        formData.append('total', total);

        if(check_total <= '{{ data.cost }}'){
          $.ajax({
            url: '/quotation/' + id,
            type: "PUT",
            processData: false,
            data: formData,
            contentType: false,

            success: function (data) {
              $("#edit_quotation_form_modal").modal('hide');
              toastr.info('Successfully updated quotation.')
              refresh();
            }
          })
        }
        else{
          $("#edit_quotation_form").trigger("reset");
          $("#edit_quotation_form_modal").modal('hide');
          toastr.info('There is no more funds. Please request an another project.')
        }
      }
    });
  });

  function refresh() {
    var url = "/quotation/project/{{ data.id }}";
    quotationDataTable.ajax.url(url).load();
  }

  // VIEW PROJECT DETAILS
  $(document).on("click", ".btn-details", function () {
    var id = this.value;
    window.location.href = "http://127.0.0.1:8000/department_head/project_details/" + id;
  });

  // VIEW TASK
  $(document).on("click", ".btn-view", function () {
    var id = this.value;

    $("#view_quotation_form_modal").modal('show');

    $.ajax({
      url: '/quotation/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var quotation = data;

        var format = Intl.NumberFormat();
        var total = quotation.price * quotation.quantity

        $('#view_id').html(quotation.id);
        $('#view_task').html(quotation.quotation_task.name);
        $('#view_name').html(quotation.name);
        $('#view_price').html('₱' + format.format(quotation.price));
        $('#view_quantity').html(quotation.quantity);
        $('#view_description').html(quotation.description);
        $('#view_total').html('₱' + format.format(total));
      }
    })
  });

  // $(document).on("click", ".btn-view", function(){
  //   var id = this.value;
  //   $("#view_task_form_modal").modal('show');

  //   $.ajax({
  //     url:'/task/'+id,
  //     type: "GET",
  //     data: { id: id},
  //     dataType: "JSON",

  //     success: function(data){
  //       var task = data;

  //       $('#view_project').html(task.task_project.name);
  //       $('#view_task_name').html(task.name);
  //       $('#view_priority').html(task.priority);
  //       $('#view_status').html(task.status);
  //       $('#view_progress').html(task.progress_status);
  //       $('#view_description').html(task.description);
  //     }
  //   })
  // });

  // EDIT TASK
  $(document).on("click", ".btn-edit", function () {
    var id = this.value;
    $("#edit_quotation_form_modal").modal('show');

    $.ajax({
      url: '/quotation/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var quotation = data;
        pageTotal = pageTotal - quotation.total

        $('#edit_id').val(id);
        $('#edit_project_id').val(quotation.project_id);
        $('#edit_task_id').val(quotation.task_id);
        $('#edit_name').val(quotation.name);
        $('#edit_price').val(quotation.price);
        $('#edit_quantity').val(quotation.quantity);
        $('#edit_description').val(quotation.description);
      }
    })
  });

  // DELETE DEPARTMENT
  $(document).on("click", ".btn-delete", function () {
    var id = this.value;
    $('#delete_quotation_form_modal').modal('show');

    $.ajax({
      url: '/quotation/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var quotation = data;
        $('#delete_id').val(quotation.id);
      }
    })
  });

  $('.delete-confirm').on('click', function (e) {
    e.preventDefault();
    $('#delete_quotation_form_modal').modal('show');
    var id = document.getElementById("delete_id").value
    var form = $('#delete_quotation_form');

    // ajax opening tag
    $.ajax({
      url: '/quotation/' + id,
      type: "DELETE",
      data: form.serialize(),
      dataType: "JSON",

      success: function (data) {
        refresh();
        toastr.info('Successfully deleted quotation.')
        $('#delete_quotation_form_modal').modal('hide');
      }
      // ajax closing tag
    })
  });
</script>
{%endblock%}