{%extends 'base.html'%}

{%block includes%}
{% include './users/includes/head.html' %}

{% include './users/includes/navbar.html' %}

{%endblock%}

{%block sidebar%}
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="../../../index3.html" class="brand-link">
    <img src="../../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border"
      style="opacity: .8">
    <span class="brand-text font-weight-light">HoMIES</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
      </div>
      <!-- User Full Name -->
      <div class="info mr-1 w-100" id="userFullNameDisplay">

        <!-- User Full Name -->
        <a href="#" class="nav-item text-truncate" id="full_name"></a>

        <!-- User Position -->
        <div class="small text-secondary text-truncate" id="user_type"></div>

        <!-- User Department -->
        <div class="small text-secondary text-truncate" id="department"></div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header font-weight-bold text-wrap">PROJECT MANAGEMENT SYSTEM</li>
        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="/project_officer/dashboard" {%if request.path == '/project_officer/dashboard'%}
            class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-header">REQUESTS</li>
        <li class="nav-item">
          <a href="/project_officer/concept_paper_requisition"
            {%if request.path == '/project_officer/concept_paper_requisition'%} class="nav-link active" {%else%}
            class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-file-alt"></i>
            <p>Concept Papers</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/project_officer/project_requisition" {%if request.path == '/project_officer/project_requisition'%}
            class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-copy"></i>
            <p>Proposals</p>
          </a>
        </li>
        <li class="nav-header">PROJECTS</li>
        <li class="nav-item">
          <a href="/project_officer/project_lists" class="nav-link active"
            {%if request.path == '/project_officer/project_lists'%} class="nav-link active" {%else%} class="nav-link"
            {%endif%}>
            <i class="nav-icon fas fa-hammer"></i>
            <p>Projects</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/project_officer/calendar" {%if request.path == '/project_officer/calendar'%} class="nav-link active"
            {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-calendar"></i>
            <p>Schedule</p>
          </a>
        </li>
        <li class="nav-header">TASKS</li>
        <li class="nav-item">
          <a href="/project_officer/task_lists" {%if request.path == '/project_officer/task_lists'%}
            class="nav-link active" {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-tasks"></i>
            <p>General Tasks</p>
          </a>
        </li>
        <li class="nav-header">REPORTS</li>
        <li class="nav-item">
          <a href="/project_officer/reports" {%if request.path == '/project_officer/reports'%} class="nav-link active"
            {%else%} class="nav-link" {%endif%}>
            <i class="nav-icon fas fa-file-signature"></i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-header">TERMS OF REFERENCE</li>
          <li class="nav-item">
            <a href="/project_officer/terms_of_reference" {%if request.path == '/project_officer/terms_of_reference'%} class="nav-link active" {%else%} class="nav-link" {%endif%}>
              <i class="nav-icon fas fa-copy"></i>
              <p>Terms of Reference</p>
            </a>
          </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
  <!-- /.sidebar -->

  <!-- Sidebar Custom -->
  <div class="sidebar-custom">
    <form>
      <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
      <button type="button" class="btn btn-sm btn-danger hide-on-collapse pos-right btn-logouts">Log out <i
          class="fas fa-sign-out-alt ml-1"></i></button>
    </form>
  </div>
  <!-- /.sidebar-custom -->

</aside>
<!-- /.main-sidebar -->
{%endblock%}


{%block maincontent%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Project Details</h1>
          <div class="text-muted">Project to view additional details</div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-8">
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            <h3 class="card-title">Project Details</h3>
            <div class="card-tools">
              <div class="text-center dropdown">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-list mr-1"></i> View
                  </button>
                  <div class="dropdown-menu">
                    <button type="button" value="{{ data.id }}" class="dropdown-item d-flex btn-tasks">
                      <div style="width: 2rem">
                        <i class="fas fa-tasks mr-1 mt-1"></i>
                      </div>
                      <div>Tasks</div>
                    </button>
                    <button type="button" value="{{ data.id }}" class="dropdown-item d-flex btn-quotation">
                      <div style="width: 2rem">
                        <i class="fas fa-handshake mr-1 mt-1"></i>
                      </div>
                      <div>Quotations</div>
                    </button>
                  </div>
                </div>
                <!-- <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                  <i class="fas fa-expand"></i>
                </button>
                <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                  <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                  <button type="button" value="{{ data.id }}" class="dropdown-item d-flex btn-quotation">
                    <div style="width: 2rem">
                      <i class="fas fa-list mr-1"></i>
                    </div>
                    <div>View Quotations</div>
                  </button>
                  <button type="button" value="{{ data.id }}" class="dropdown-item d-flex btn-timeline">
                    <div style="width: 2rem">
                      <i class="fas fa-list mr-1"></i>
                    </div>
                    <div>View Timeline</div>
                  </button>
                </div> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <ul class="nav nav-tabs" id="custom-tabs-six-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-six-details-tab" data-toggle="pill"
                    href="#custom-tabs-six-details" role="tab" aria-controls="custom-tabs-six-details"
                    aria-selected="true">Details</a>
                </li>
                {%if data.concept_paper_id is not none%}
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-six-paper-tab" data-toggle="pill" href="#custom-tabs-six-paper"
                    role="tab" aria-controls="custom-tabs-six-paper" aria-selected="false">Concept Paper</a>
                </li>
                {%endif%}
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-six-tor-tab" data-toggle="pill" href="#custom-tabs-six-tor"
                    role="tab" aria-controls="custom-tabs-six-tor" aria-selected="false">Term of Reference</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-six-milestones-tab" data-toggle="pill"
                    href="#custom-tabs-six-milestones" role="tab" aria-controls="custom-tabs-six-milestones"
                    aria-selected="false">Milestones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-six-timeline-tab" data-toggle="pill"
                    href="#custom-tabs-six-timeline" role="tab" aria-controls="custom-tabs-six-timeline"
                    aria-selected="false">Timeline</a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="custom-tabs-six-tabContent">
              <div class="tab-pane fade show active" id="custom-tabs-six-details" role="tabpanel"
                aria-labelledby="custom-tabs-six-details-tab">
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-4">
                      <div class="info-box border shadow-none bg-default">
                        <div class="info-box-content">
                          <label class="info-box-text" for="inputName">Project Name</label>
                          <span>{{ data.name }}</span>
                          <small class="text-muted"> {{ data.type }} </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="info-box border shadow-none bg-default">
                        <div class="info-box-content">
                          <label class="info-box-text" for="inputName">Project Manager</label>
                          <span>{{ data.project_user.first_name }} {{ data.project_user.last_name}}
                            {{ data.project_user.suffix_name}}</span>
                          <small class="text-muted"> {{ data.project_department.name }} </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="info-box border shadow-none bg-default">
                        <div class="info-box-content">
                          <label class="info-box-text" for="inputName">Project Cost</label>
                          <span>{{ "₱{:,.2f}".format(data.cost) }}</span>
                          <small class="text-muted">{{ data.start_date.strftime('%b %d, %Y') }} -
                            {{ data.end_date.strftime('%b %d, %Y') }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDescription">I. Project Duration</label><br>
                  <p id="duration" class="ml-3"></p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">II. Project Background</label><br>
                  <p class="ml-3">{{ data.background }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">III. Project Coverage</label><br>
                  <p class="ml-3">{{ data.coverage }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">IV. Objectives</label><br>
                  <p class="ml-3">{{ data.objectives }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">V. Project Assumptions</label><br>
                  <p class="ml-3">{{ data.assumptions }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">VI. Project Constraints</label><br>
                  <p class="ml-3">{{ data.constraints }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">VII. Budgetary Requirements</label><br>
                  <table id="on_hold_table" class="table table-bordered" width="100%">
                    <thead>
                      <tr>
                        <th>Activities / Resources</th>
                        <th>Cost</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for budget in data.project_budget%}
                      {%if budget.active_status == "Active"%}
                      <tr>
                        <td>{{ budget.name }}</td>
                        <td>{{ "₱{:,.2f}".format(budget.cost) }}</td>
                        <td>{{ budget.description }}</td>
                      </tr>
                      {%endif%}
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
                <div class="form-group">
                  <label for="inputDescription">VIII. Target Beneficiaries</label><br>
                  <p class="ml-3">{{ data.target_beneficiaries }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">IX. Stakeholders</label><br>
                  <table id="on_hold_table" class="table table-bordered" width="100%">
                    <thead>
                      <tr>
                        <th>Stakeholder</th>
                        <th>Role</th>
                        <th>Project Expectancy</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for stakeholder in data.project_stakeholder%}
                      {%if stakeholder.active_status == "Active"%}
                      <tr>
                        <td>{{ stakeholder.name }}</td>
                        <td>{{ stakeholder.role }}</td>
                        <td>{{ stakeholder.expectation }}</td>
                      </tr>
                      {%endif%}
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
                <div class="form-group">
                  <label for="inputDescription">X. Deliverables</label><br>
                  <p class="ml-3">{{ data.expected_output }}</p>
                </div>
              </div>

              <div class="tab-pane fade" id="custom-tabs-six-tor" role="tabpanel"
                aria-labelledby="custom-tabs-six-tor-tab">
                <label class="ml-3 mt-4" for="inputDescription">Terms of Reference</label><br>
                {%for tor in data.project_tor%}
                <div class="form-group">
                  <label class="ml-3 mt-3" for="inputDescription">I. Title</label><br>
                  <p class="ml-3">{{ tor.tor_number }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">II. Background</label><br>
                  <p class="ml-3">{{ tor.background }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">III. Objective</label><br>
                  <p class="ml-3">{{ tor.objective }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">IV. Scope of Service</label><br>
                  <p class="ml-3">{{ tor.scope_of_service }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">V. Deliverables</label><br>
                  <p class="ml-3">{{ tor.tor_deliverables }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">VI. Qualifications</label><br>
                  <p class="ml-3">{{ tor.qualifications }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">VII. Reporting and Working Arrangements</label><br>
                  <p class="ml-3">{{ tor.reporting_and_working_arrangements }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">VIII. Annex and Technical Specifications</label><br>
                  <p class="ml-3">{{ tor.tor_annex_technical_specifications }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">IX. Annex Key Experts</label><br>
                  <p class="ml-3">{{ tor.tor_annex_key_experts }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">X. Annex Deliverables</label><br>
                  <p class="ml-3">{{ tor.tor_annex_deliverables }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">XI. Annex Terms and Conditions</label><br>
                  <p class="ml-3">{{ tor.tor_annex_terms_conditions }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">XII. Prepared By</label><br>
                  <p class="ml-3">{{ tor.prepared_by }}</p>
                </div>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">XIII. Vendor Information</label><br>
                  <p class="ml-3"><i><b>Name:</b></i> {{ tor.tor_vendor.vendor_name }}</p>
                  <p class="ml-3"><i><b>Email:</b></i> {{ tor.tor_vendor.email }}</p>
                  <p class="ml-3"><i><b>Contact Number:</b></i> {{ tor.tor_vendor.contact_no }}</p>
                  <p class="ml-3"><i><b>Website:</b></i> {{ tor.tor_vendor.vendor_website }}</p>
                  <p class="ml-3"><i><b>Contact Person:</b></i> {{ tor.tor_vendor.contact_person }}</p>
                </div>
                {%else%}
                <p class="ml-3 text-secondary font-italic">No Approved Terms of Reference yet.</p>
                {%endfor%}
              </div>

              {%if data.concept_paper_id is not none%}
              <div class="tab-pane fade" id="custom-tabs-six-paper" role="tabpanel"
                aria-labelledby="custom-tabs-six-paper-tab">
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-4">
                      <div class="info-box border shadow-none bg-default">
                        <div class="info-box-content">
                          <label class="info-box-text" for="inputName">Project Name</label>
                          <span>{{ data.project_concept.name }}</span>
                          <small class="text-muted"> {{ data.project_concept.type }} </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="info-box border shadow-none bg-default">
                        <div class="info-box-content">
                          <label class="info-box-text" for="inputName">Project Manager</label>
                          <span>{{ data.project_concept.concept_employee.first_name }} {{ data.project_concept.concept_employee.last_name}}
                            {{ data.project_concept.concept_employee.suffix_name}}</span>
                          <small class="text-muted"> {{ data.project_concept.concept_department.name }} </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="info-box border shadow-none bg-default">
                        <div class="info-box-content">
                          <label class="info-box-text" for="inputName">Project Cost</label>
                          <span>{{ "₱{:,.2f}".format(data.project_concept.cost) }}</span>
                          <small class="text-muted">{{ data.project_concept.start_date.strftime('%b %d, %Y') }} -
                            {{ data.project_concept.end_date.strftime('%b %d, %Y') }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDescription">I. Project Duration</label><br>
                  <p id="duration1" class="ml-3"></p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">II. Project Background</label><br>
                  <p class="ml-3">{{ data.project_concept.background }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">III. Project Coverage</label><br>
                  <p class="ml-3">{{ data.project_concept.coverage }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">IV. Objectives</label><br>
                  <p class="ml-3">{{ data.project_concept.objectives }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">V. Project Assumptions</label><br>
                  <p class="ml-3">{{ data.project_concept.assumptions }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">VI. Project Constraints</label><br>
                  <p class="ml-3">{{ data.project_concept.constraints }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">VII. Budgetary Requirements</label><br>
                  <table id="on_hold_table" class="table table-bordered" width="100%">
                    <thead>
                      <tr>
                        <th>Activities / Resources</th>
                        <th>Cost</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for budget in data.project_concept.concept_budget%}
                      {%if budget.active_status == "Active"%}
                      <tr>
                        <td>{{ budget.name }}</td>
                        <td>{{ "₱{:,.2f}".format(budget.cost) }}</td>
                        <td>{{ budget.description }}</td>
                      </tr>
                      {%endif%}
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
                <div class="form-group">
                  <label for="inputDescription">VIII. Target Beneficiaries</label><br>
                  <p class="ml-3">{{ data.project_concept.target_beneficiaries }}</p>
                </div>
                <div class="form-group">
                  <label for="inputDescription">X. Deliverables</label><br>
                  <p class="ml-3">{{ data.project_concept.expected_output }}</p>
                </div>
              </div>
              {%endif%}

              <div class="tab-pane fade" id="custom-tabs-six-milestones" role="tabpanel"
                aria-labelledby="custom-tabs-six-milestones-tab">
                <div class="card-tools">
                  <button value="{{ data.id }}"
                    class="btn btn-milestone btn-primary bg-solid-primary btn-sm float-right" type="button"><i
                      class="fa fa-plus"></i> Add Milestone</button>
                </div><br>
                <div class="form-group">
                  <label class="ml-3" for="inputDescription">Project Milestones</label><br>
                  {%for milestone in data.project_milestone%}
                  {%if milestone.active_status == "Active"%}
                  <span class="btn-group dropleft mt-4 float-right">
                    <span class="btndropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      style="cursor: pointer;">
                      <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <div class="dropdown-menu">
                      <button type="button" value="{{ milestone.id }}" class="dropdown-item d-flex btn-edit">
                        <div style="width: 2rem">
                          <i class="fas fa-edit mr-1 mt-1"></i>
                        </div>
                        <div>Edit</div>
                      </button>
                      <button type="button" value="{{ milestone.id }}" class="dropdown-item d-flex btn-deletes">
                        <div style="width: 2rem">
                          <i class="fas fa-trash-alt mr-1 mt-1"></i>
                        </div>
                        <div>Delete</div>
                      </button>
                    </div>
                  </span>
                  <div class="mt-3 mailbox-read-info">
                    <span class="ml-2">{{ milestone.name }}</span><br>
                    <small class="text-muted ml-2">{{ milestone.date.strftime('%A, %B %d, %Y') }}</small><br><br>
                    <p class="ml-2">{{ milestone.description }}</p>
                  </div>
                  {%endif%}
                  {%else%}
                  <div class="mt-3 mailbox-read-info">
                    <p class="ml-2 text-secondary font-italic">No milestones yet.</p>
                  </div>
                  {%endfor%}
                </div>
              </div>

              <div class="tab-pane fade" id="custom-tabs-six-timeline" role="tabpanel"
                aria-labelledby="custom-tabs-six-timeline-tab">
                <div id="timeline" class="timeline">
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-center">
          </div>
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-4">
        <!-- /.card -->
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            <h3 class="card-title">Project Files</h3>
            <div class="card-tools">
              <button value="{{ data.id }}" class="btn btn-file btn-primary bg-solid-primary btn-sm" type="button"><i
                  class="fa fa-plus"></i> Add File</button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="info-box border shadow-none bg-default">
                <div class="info-box-content">
                  <label for="inputEstimatedBudget">Document Files</label>
                  <table>
                    <tbody>
                      {%for document in data.project_document%}
                      {%if document.active_status == "Active"%}
                      <tr>
                        <td><a href="{{ document.file }}" download class="btn-link text-secondary"><i
                              class="far fa-file"></i> {{ document.file }}</a> <button value="{{ document.id }}"
                            class="btn btn-xs btn-link btn-delete"><i class="fas fa-times"
                              style="color: red"></i></button></td>
                      </tr>
                      {%endif%}
                      {%else%}
                      <tr>
                        <td href="#" class="btn-link text-secondary font-italic"> No files uploaded.</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card card-primary card-outline card-tab">
          <div class="card-header">
            {%if data.approval_status == "Refused"%}
            <h3 class="card-title">Reason of Refusal</h3>
            {%elif data.progress_status == "Cancelled"%}
            <h3 class="card-title">Reason of Cancellation</h3>
            {%else%}
            <h3 class="card-title">Project Remarks</h3>
            {%endif%}
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="info-box border shadow-none bg-default">
                <div class="info-box-content">
                  {%if data.remarks is not none%}
                  {%if data.approval_status == "Refused"%}
                  <label for="inputEstimatedBudget">Reason</label>
                  <small class="text-muted">{{ data.updated_at.strftime('%A, %B %d, %Y') }}</small>
                  <span>{{ data.remarks }}</span>
                  {%elif data.progress_status == "Cancelled"%}
                  <label for="inputEstimatedBudget">Reason</label>
                  <small class="text-muted">{{ data.updated_at.strftime('%A, %B %d, %Y') }}</small>
                  <span>{{ data.remarks }}</span>
                  {%else%}
                  <label for="inputEstimatedBudget">Remarks</label>
                  <small class="text-muted">{{ data.updated_at.strftime('%A, %B %d, %Y') }}</small>
                  <span>{{ data.remarks }}</span>
                  {%endif%}
                  {%else%}
                  <label for="inputEstimatedBudget">Remarks</label>
                  <span class="btn-link text-secondary font-italic">No posted remarks.</span>
                  {%endif%}
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Default Modal -->
<div class="modal fade" id="add_milestone_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fa fa-plus mr-2"></i> Add New Milestone</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_milestone_form">
          <div class="modal-body">
            <input placeholder="Enter Milestone" type="hidden" class="form-control" name="project_id" id="project_id"
              value="{{ data.id }}">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Milestone <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Milestone" type="text" class="form-control" name="name" id="name">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Date <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Date" type="datetime-local" class="form-control" name="date" id="date">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Description" rows="5" cols="50" class="form-control" name="description"
                  id="description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Milestone <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="edit_milestone_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-edit mr-2"></i> Edit Milestone</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit_milestone_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="edit_id" id="edit_id" value="{{ data.id }}">
            <input type="hidden" class="form-control" name="edit_project_id" id="edit_project_id" value="{{ data.id }}">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Milestone <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Milestone" type="text" class="form-control" name="edit_name" id="edit_name">
              </div>
              <div class="form-group col-sm-6">
                <label class="location" for="exampleInputPassword1">Date <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <input placeholder="Enter Date" type="datetime-local" class="form-control" name="edit_date"
                  id="edit_date">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Description <span style="color:red" aria-hidden="true"
                    class="required">*</span></label>
                <textarea placeholder="Enter Description" rows="5" cols="50" class="form-control"
                  name="edit_description" id="edit_description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Update <i class="fas fa-check"></i></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="delete_milestone_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-exclamation-triangle text-secondary"></i> Confirmation
        </h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete_milestone_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="delete_ids" id="delete_ids" aria-describedby="emailHelp">
            <h7>Are you sure you want to delete this milestone?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-confirms">Yes, delete it! <i
                class="fas fa-times-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="add_file_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-md modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fa fa-plus mr-2"></i>Add New File</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_file_form" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" id="project_id" name="project_id">
            <label for="exampleInputFile">File input</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="document" name="document" multiple>
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add File <i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal -->
<div class="modal fade" id="delete_file_form_modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-secondary"><i class="fas fa-exclamation-triangle text-secondary"></i> Confirmation
        </h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete_file_form">
          <div class="modal-body">
            <input type="hidden" class="form-control" name="delete_id" id="delete_id" aria-describedby="emailHelp">
            <h7>Are you sure you want to remove this file?</h7>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-confirm">Yes, remove it! <i
                class="fas fa-times-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.content-wrapper -->
{%endblock%}
<!-- /.content-wrapper -->

{%block scripts%}
<script src="{{url_for('static', path='/project_officer_footer_scripts.js')}}"></script>
<script src="{{url_for('static', path='/project_officer_restriction.js')}}"></script>
<script src="{{url_for('static', path='/project_officer_notification.js')}}"></script>

<script>
  $('.select2bs4').select2()

  $(document).ready(function () {
    start_date = new Date('{{ data.start_date }}');
    end_date = new Date('{{ data.end_date }}');

    start_date1 = new Date('{{ data.project_concept.start_date }}');
    end_date1 = new Date('{{ data.project_concept.end_date }}');

    var diff = Math.floor(end_date.getTime() - start_date.getTime());
    var day = 1000 * 60 * 60 * 24;

    var days = Math.floor(diff / day);
    var months = Math.floor(days / 31);
    var years = Math.floor(months / 12);

    var message = "";

    if (months >= 12) {
      months = months - 11;
      message += years + " year and "
      message += months + " months"
    } else if (years > 1) {
      months = months - (years * 12)
      message += years + " years and "
      message += months + " months"
    } else if (days < 30) {
      message += days + " days"
    } else if (months > 1) {
      days = days - (months * 30);
      message += months + " months and "
      message += days + " days"
    } else {
      days = days - 30;
      message += months + " month and "
      message += days + " days"
    }

    var diff1 = Math.floor(end_date1.getTime() - start_date1.getTime());
    var day1 = 1000 * 60 * 60 * 24;

    var days1 = Math.floor(diff1 / day1);
    var months1 = Math.floor(days1 / 31);
    var years1 = Math.floor(months1 / 12);

    var message1 = "";

    if (months1 >= 12) {
      months1 = months1 - 11;
      message1 += years1 + " year and "
      message1 += months1 + " months"
    } else if (years1 > 1) {
      months1 = months1 - (years1 * 12)
      message1 += years1 + " years and "
      message1 += months1 + " months"
    } else if (days1 < 30) {
      message1 += days1 + " days"
    } else if (months1 > 1) {
      days1 = days1 - (months1 * 30);
      message1 += months1 + " months and "
      message1 += days1 + " days"
    } else {
      days1 = days1 - 30;
      message1 += months1 + " month and "
      message1 += days1 + " days"
    }

    $('#duration').html(message);
    $('#duration1').html(message1);

    $.ajax({
      url: '/history/project/{{ data.id }}',
      type: "GET",
      dataType: "JSON",

      success: function (data) {
        var history = data;
        var html = "";

        history.sort(function (a, b) {
          return new Date(a.date) - new Date(b.date);
        });

        for (var i = 0; i < history.length; i++) {
          var html1 = "";

          if (history[i] == history[0]) {
            var html1 = "";
            html1 += `<div>
                          <i class=" fas fa-file-signature bg-success"></i>
                          <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                          </div>
                        </div>
                        <div>
                            <i class="fas fa-clock bg-gray"></i>
                        </div>`;
            $('#timeline').prepend(html1);

          } else {
            if (history[i].subject == 'Approved') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-check bg-success"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Accepted') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-check bg-info"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Completed') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-check bg-success"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Refused') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-times bg-danger"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Cancelled') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-times bg-danger"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Added') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-thumbtack bg-info"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Updated') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-check bg-info"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'On Progress') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-sync bg-info"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Delayed') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-redo bg-secondary"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Rejected') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-times bg-danger"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Rescheduled') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-calendar bg-info"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else if (history[i].subject == 'Milestone') {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-trophy bg-info"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            } else {
              var html1 = "";
              html1 += `<div>
                            <i class="fas fa-check bg-success"></i>
                            <div class="timeline-item">
                              <span class="time"><i class="fas fa-clock"></i> ${moment(history[i].date).fromNow()}</span>
                              <div class="timeline-header">${history[i].subject}</div>
                              <div class="timeline-body"><small>${history[i].remarks}</small></div>
                              <div class="timeline-footer">
                                <small>${moment(history[i].date).format('dddd, LL')}</small>
                                <br>
                                <small>${moment(history[i].date).format('LT')}</small>
                              </div>
                            </div>
                          </div>`;
              $('#timeline').prepend(html1);
            }
          }

          if (history[i] == history[history.length - 1]) {
            var html1 = "";
            html1 +=
              `<div class="time-label"><span class="bg-primary">Project Timeline</span></div>`;
            $('#timeline').prepend(html1);
          }
        }
      }
    })
  });

  $(function () {
    $('#add_milestone_form').validate({
      rules: {
        name: {
          required: true,
        },
        description: {
          required: true,
        },
        date: {
          required: true,
        },
      },
      messages: {
        name: {
          required: "Please enter milestone",
        },
        date: {
          required: "Please enter date",
        },
        description: {
          required: "Please enter description",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // ADD MILESTONE
        var project_id = document.getElementById("project_id").value
        var name = document.getElementById("name").value
        var description = document.getElementById("description").value
        var date = document.getElementById("date").value

        $.ajax({
          url: '/milestone/',
          type: "POST",
          data: {
            project_id: project_id,
            name: name,
            description: description,
            date: date
          },
          dataType: "JSON",

          success: function (data) {
            $("#add_milestone_form_modal").modal('hide');
            window.setTimeout(function () {
              location.reload();
            }, 1800);
            toastr.info('Successfully added project milestone.')
          }
        })
      }
    });
  });

  $(function () {
    $('#edit_milestone_form').validate({
      rules: {
        edit_name: {
          required: true,
        },
        edit_description: {
          required: true,
        },
        edit_date: {
          required: true,
        },
      },
      messages: {
        edit_name: {
          required: "Please enter milestone",
        },
        edit_date: {
          required: "Please enter date",
        },
        edit_description: {
          required: "Please enter description",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // ADD MILESTONE
        var id = document.getElementById("edit_id").value
        var project_id = document.getElementById("edit_project_id").value
        var name = document.getElementById("edit_name").value
        var description = document.getElementById("edit_description").value
        var date = document.getElementById("edit_date").value

        $.ajax({
          url: '/milestone/' + id,
          type: "PUT",
          data: {
            project_id: project_id,
            name: name,
            description: description,
            date: date
          },
          dataType: "JSON",

          success: function (data) {
            $("#edit_milestone_form_modal").modal('hide');
            window.setTimeout(function () {
              location.reload();
            }, 1800);
            toastr.info('Successfully updated project milestone.')
          }
        })
      }
    });
  });

  // ADD MILESTONE
  $(document).on("click", ".btn-milestone", function () {
    var id = this.value;
    $("#add_milestone_form_modal").modal('show');
  });

  // EDIT MILESTONE
  $(document).on("click", ".btn-edit", function () {
    var id = this.value;
    document.getElementById("edit_milestone_form").reset();
    $("#edit_milestone_form_modal").modal('show');

    $.ajax({
      url: '/milestone/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var milestone = data;

        $('#edit_id').val(id);
        $('#edit_name').val(milestone.name);
        $('#edit_date').val(moment(milestone.date).format('YYYY-MM-DD'));
        $('#edit_description').val(milestone.description);
      }
    })
  });

  // DELETE MILESTONE
  $(document).on("click", ".btn-deletes", function () {
    var id = this.value;
    document.getElementById("delete_milestone_form").reset();
    $("#delete_milestone_form_modal").modal('show');

    $.ajax({
      url: '/milestone/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var milestone = data;
        $('#delete_ids').val(milestone.id);
      }
    })
  });

  // DELETE MILESTONE
  $('.delete-confirms').on('click', function (e) {
    e.preventDefault();
    $('#delete_milestone_form_modal').modal('show');
    var id = document.getElementById("delete_ids").value
    var form = $('#delete_milestone_form');

    // ajax opening tag
    $.ajax({
      url: '/milestone/' + id,
      type: "DELETE",
      data: form.serialize(),
      dataType: "JSON",

      success: function (data) {
        $("#delete_milestone_form_modal").modal('hide');
        window.setTimeout(function () {
          location.reload();
        }, 1800);
        toastr.info('Successfully deleted project milestone.')
      }
      // ajax closing tag
    })
  });

  // VIEW QUOTATIONS
  $(document).on("click", ".btn-quotation", function () {
    var id = this.value;
    window.location.href = "http://127.0.0.1:8000/project_officer/project_quotations/" + id;
  });

  // VIEW PROJECT
  $(document).on("click", ".btn-tasks", function () {
    var id = this.value;
    window.location.href = "http://127.0.0.1:8000/project_officer/all_project_task/" + id;
  });

  // VIEW TASK
  $(document).on("click", ".btn-view", function () {
    var id = this.value;
    $.ajax({
      url: '/task/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var task = data;
        window.location.href = "http://127.0.0.1:8000/project_officer/task_details/" + task.id;
      }
    })
  });

  $('#document').on('change', function (e) {
    //get the file name
    var files = [];
    for (var i = 0; i < $(this)[0].files.length; i++) {
      files.push($(this)[0].files[i].name);
    }
    $(this).next('.custom-file-label').html(files.join(', '));
  })

  $(function () {
    $('#add_file_form').validate({
      rules: {
        document: {
          required: true,
        },
      },
      messages: {
        document: {
          required: "Please select document",
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },

      submitHandler: function (form) {
        // ADD FILE
        formData = new FormData();
        formData.append('project_id', $('#project_id').val());
        // formData.append('file', $('#document')[0].files[0]);
        var selectedFile = document.getElementById('document').files;
        for (var i = 0; i < selectedFile.length; i++) {
          formData.delete('file');
          formData.append('file', selectedFile[i]);

          $.ajax({
            url: '/document/',
            type: "POST",
            processData: false,
            data: formData,
            contentType: false,

            success: function (data) {
              $("#add_file_form_modal").modal('hide');
              window.setTimeout(function () {
                location.reload();
              }, 1800);
              toastr.options = {
                "preventDuplicates": true,
              }
              toastr.info('Successfully added file.')
            }
          })
        }
      }
    });
  });

  // ADD FILE
  $(document).on("click", ".btn-file", function () {
    var id = this.value;
    $("#add_file_form_modal").modal('show');

    $('#project_id').val(id);
  });

  // DELETE FILE
  $(document).on("click", ".btn-delete", function () {
    var id = this.value;
    $('#delete_file_form_modal').modal('show');

    $.ajax({
      url: '/document/' + id,
      type: "GET",
      data: {
        id: id
      },
      dataType: "JSON",

      success: function (data) {
        var document = data;
        $('#delete_id').val(id);
      }
    })
  });

  $('.delete-confirm').on('click', function (e) {
    e.preventDefault();
    var id = document.getElementById("delete_id").value
    var form = $('#delete_file_form');

    // ajax opening tag
    $.ajax({
      url: '/document/' + id,
      type: "DELETE",
      data: form.serialize(),
      dataType: "JSON",

      success: function (data) {
        $('#delete_file_form_modal').modal('hide');
        window.setTimeout(function () {
          location.reload();
        }, 1800);
        toastr.info('Successfully deleted document.')
      }
      // ajax closing tag
    })
  });
</script>
{%endblock%}