<!-- Apply layout from base.html -->
{%extends 'base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
<form id="addDepartmentForm" name="addDepartmentForm" method="post" action="/departments/" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Department Name</label>
            <input type="text" class="form-control" id="name" name="name">
         </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Location</label>
            <input type="text" class="form-control" id="location" name="location">
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

<!-- Card Body -->
<div class="card-body">
    <table id="departmentsTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Department</th>
                <th>Description</th>
                <th>Location</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
  <!-- /.card-body -->
{%endblock%}

{%block footer_scripts%}
<script>
    window.addEventListener("load", window.print());
    function loadtable(){
        departmentsDataTable = $('#departmentsTable').DataTable( {
            "ajax": "/departments/",
            "columns": [
                { data: "id"},
                { data: "name"},
                { data: "description"},
                { data: "location"},
                { data: "created_at" },
                { data: "active_status", render: function(data, type, row){
                        if(data == "Active"){
                            return '<div class="btn-group">'+
                                    '<button class="btn btn-primary btn-sm btn_view" value="'+row.id+'" title="View" type="button" ><i class="zmdi zmdi-eye"></i>View</button>'+
                                    '<button class="btn btn-warning btn-sm btn_edit" value="'+row.id+'" title="Edit" type="button" ><i class="zmdi zmdi-edit"></i>Edit</button>'+
                                    '<button class="btn btn-danger btn-sm btn_delete" value="'+row.id+'" title="Delete" type="button"> <i class="zmdi zmdi-delete"></i>Delete</button></div>';
                        }   
                        else{
                            return '<button>Activate</button>';
                        }
                    }
                    
                },

            ],

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 4] }],
            "order": [[4, "desc"]]
        })
    }

    loadtable();

    // $('#addDepartmentForm').on('submit', function(e){
    //     e.preventDefault();

    //     // var form = $('#addpostForm'); 
    //     name = $("#name").val();
    //     location = $("#location").val();
    //     description = $("#description").val();

    //     // ajax opening tag
    //     $.ajax({
    //         url: '/departments/',
    //         type: "post",
    //         dataType: "json",
    //         contentType: "application/json",
    //         data: JSON.stringify({
    //             name: name,
    //             description: description,
    //             location: location
    //         }),

    //         success: function(data){
    //           console.log(data)
    //           // if (data.error == true){
    //           //   var msg = data.message;
    //           //   showNotification('create', msg, 'danger', 'top', 'right');
    //           //   refresh();
    //           // }

    //           // else{
    //           //     document.getElementById("addpostForm").reset();
    //           //     showNotification('create', 'Successfully added a new post!', 'success', 'top', 'right');
    //           //     refresh();
    //           //   }
    //         }
    //     // ajax closing tag
    //     })
    // });
</script>
{%endblock%}