<!-- Apply layout from base.html -->
{%extends 'base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
<form id="addUserForm" name="addUserForm" method="post" action="/users/" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Age</label>
            <input type="number" class="form-control" id="age" name="age">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Type</label>
            <select class="form-control form-control-md" id="type" name="type" required>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Document</label>
            <input multiple type="file" id="document" name="document">
        </div>
        <!-- <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div> -->
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

<!-- Card Body -->
{%if user.type == "Admin"%}
<a>Admin</a>
{%elif user.type == "User"%}
<a>User</a>
{%else%}
<a>Guest</a>
{%endif%}

  <!-- /.card-body -->
{%endblock%}

{%block footer_scripts%}
<script>
     function loadtable(){
        usersDataTable = $('#usersTable').DataTable( {
            "ajax": "/users/",
            "columns": [
                { data: "id"},
                { data: "name"},
                { data: "age"},
                { data: "document"},
                { data: "created_at" },
                // { users: "status", render: function(users, type, row){
                //         if(data == "Active"){
                //             return '<div class="btn-group">'+
                //                     '<button class="btn btn-primary btn-sm btn_view" value="'+row.id+'" title="View" type="button" ><i class="zmdi zmdi-eye"></i>View</button>'+
                //                     '<button class="btn btn-warning btn-sm btn_edit" value="'+row.id+'" title="Edit" type="button" ><i class="zmdi zmdi-edit"></i>Edit</button>'+
                //                     '<button class="btn btn-danger btn-sm btn_delete" value="'+row.id+'" title="Delete" type="button"> <i class="zmdi zmdi-delete"></i>Delete</button></div>';
                //         }   
                //         else{
                //             return '<button>Activate</button>';
                //         }
                //     }
                    
                // },

            ],

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [4] }],
            "order": [[4, "desc"]]
        })
    }

    loadtable();

    // $('#addUserForm').on('submit', function(e){
    //     e.preventDefault();

    //     // var form = $('#addUserForm'); 
    //     name = $("#name").val();
    //     age = $("#age").val();

    //     // ajax opening tag
    //     $.ajax({
    //         url: '/users/',
    //         type: "post",
    //         dataType: "json",
    //         contentType: "application/json",
    //         data: JSON.stringify({
    //             name: name,
    //             age: age,
    //             document: document
    //         }),

    //         success: function(data){
    //           console.log(data)
    //           // if (data.error == true){
    //           //   var msg = data.message;
    //           //   showNotification('create', msg, 'danger', 'top', 'right');
    //           //   refresh();
    //           // }

    //           // else{
    //           //     document.getElementById("addUserForm").reset();
    //           //     showNotification('create', 'Successfully added a new user!', 'success', 'top', 'right');
    //           //     refresh();
    //           //   }
    //         }
    //     // ajax closing tag
    //     })
    // });
</script>
{%endblock%}