<!-- Apply layout from base.html -->
{%extends 'base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
<form id="addUserForm" name="addUserForm" method="post" action="/users/" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Type</label>
            <select class="form-control form-control-md" id="type" name="type" required>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
                <option value="Guest">Guest</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Department</label>
            <select class="form-control form-control-md" id="department" name="department" required>
            </select>
        </div>
        <!-- <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div> -->
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

<!-- Card Body -->
<div class="card-body">
    <table id="userTable" class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.department_id }}</td>
                <td>
                    <button onclick="location.href = '/user/{{ user.first_name }}';" class="btn btn-primary btn-sm btn_view" value="'+row.id+'" title="View" type="button" ><i class="zmdi zmdi-eye"></i>View</button>
                    <button class="btn btn-warning btn-sm btn_edit" value="'+row.id+'" title="Edit" type="button" ><i class="zmdi zmdi-edit"></i>Edit</button>
                    <button class="btn btn-danger btn-sm btn_delete" value="'+row.id+'" title="Delete" type="button"> <i class="zmdi zmdi-delete"></i>Delete</button></div>
                </td>
            </tr>
        {%else%}
            <tr>
                <td>No users to show.</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

<div class="card-body">
    <table id="usersTable" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
  <!-- /.card-body -->
{%endblock%}

{%block footer_scripts%}
<script>
     function loadtable(){
        usersDataTable = $('#usersTable').DataTable( {
            "ajax": "/users/",
            "columns": [
                { data: "id"},
                { data: "first_name"},
                { data: "last_name"},
                { data: "email"},
                { data: "department_id"},
                { data: "created_at" },
                // { users: "status", render: function(users, type, row){
                //         if(data == "Active"){
                //             return '<div class="btn-group">'+
                //                     '<button class="btn btn-primary btn-sm btn_view" value="'+row.id+'" title="View" type="button" ><i class="zmdi zmdi-eye"></i>View</button>'+
                //                     '<button class="btn btn-warning btn-sm btn_edit" value="'+row.id+'" title="Edit" type="button" ><i class="zmdi zmdi-edit"></i>Edit</button>'+
                //                     '<button class="btn btn-danger btn-sm btn_delete" value="'+row.id+'" title="Delete" type="button"> <i class="zmdi zmdi-delete"></i>Delete</button></div>';
                //         }   
                //         else{
                //             return '<button>Activate</button>';
                //         }
                //     }
                    
                // },

            ],

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 5] }],
            "order": [[4, "desc"]]
        })
    }

    function get_department(){  
        $.ajax({
            url: '/departments/',
            type: "GET",
            dataType: "JSON",
            success: function(data){
                var departmentInfo = data.data;
                var html = ""
                if(departmentInfo.length){
                    var html = `<option> -- Select Department -- </option>`;
                }
                else{
                    var html = `<option value=""> -- No Department -- </option>`;
                }
                for(var i=0; i < departmentInfo.length; i++){
                html += `<option value="${departmentInfo[i].id}">${departmentInfo[i].name}</option>`
                }        
                $('#department').html(html);
            }
        })
    }

    get_department();
    loadtable();

    // $('#addUserForm').on('submit', function(e){
    //     e.preventDefault();

    //     // var form = $('#addUserForm'); 
    //     name = $("#name").val();
    //     age = $("#age").val();

    //     // ajax opening tag
    //     $.ajax({
    //         url: '/users/',
    //         type: "post",
    //         dataType: "json",
    //         contentType: "application/json",
    //         data: JSON.stringify({
    //             name: name,
    //             age: age,
    //             document: document
    //         }),

    //         success: function(data){
    //           console.log(data)
    //           // if (data.error == true){
    //           //   var msg = data.message;
    //           //   showNotification('create', msg, 'danger', 'top', 'right');
    //           //   refresh();
    //           // }

    //           // else{
    //           //     document.getElementById("addUserForm").reset();
    //           //     showNotification('create', 'Successfully added a new user!', 'success', 'top', 'right');
    //           //     refresh();
    //           //   }
    //         }
    //     // ajax closing tag
    //     })
    // });
</script>
{%endblock%}